
<section class="row page-header">
    <div class="container">
        <h4>blog news</h4>
    </div>
</section>

<section class="row blog-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <article class="post post-type-image single-post row">
                    <div class="row featured-contents">
                        <a href="single.html"><img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/post2/1.jpg" alt=""></a>
                    </div>
                    <div class="row article-body">
                        <h3 class="post-title"><a href="single.html">SEMINAR FOR Childrens to know about FUTURE</a></h3>
                        <ul class="post-meta nav">
                            <li class="post-date"><i class="fa fa-calendar-o"></i> <a href="#">june 29, 2016</a></li>
                            <li class="post-comments"><i class="fa fa-comments"></i> <a href="#">1 comment</a></li>
                            <li class="posted-by"><i class="fa fa-user"></i>posted by: <a href="#">admin</a></li>
                            <li class="category"><i class="fa fa-folder"></i>category: <a href="#">education</a>, <a href="#">food</a></li>
                        </ul>
                        <div class="post-content row">
                            <p>Quisque eros leo, pellentesque id leo non, scelerisque hendrerit mauris. Integer dapibus purus in aliquet vehicula. In laoreet justo ac sapien malesuada laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                            <p>Aenean sit amet arcu leo. Donec erat nulla, condimentum eget velit id, condimentum feugiat sem. In pharetra, neque id cursus aliquam, metus justo scelerisque ligula, non rutrum justo massa id velit. Cras vitae magna ipsum. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac augue in libero malesuada aliquam tempus quis justo. Cras mi dolor, consequat quis pellentesque et, laoreet eget libero. Proin luctus sollicitudin venenatis.</p>
                            <p>Sed convallis eleifend volutpat. Sed justo ex, efficitur sit amet nulla at, semper congue nibh. Praesent at convallis nisi. In vehicula eleifend diam, ut tincidunt risus blandit sit amet. Suspendisse potenti. Vestibulum mollis facilisis ligula at convallis.</p>
                            <p>Nam lacinia, augue ut placerat fermentum, quam sapien congue nisl, vel feugiat mauris diam sit amet nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vitae sem pharetra, lacinia diam et, mattis metus.</p>

                            <blockquote class="style2">
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vitae sem pharetra, lacinia diam et, mattis metus.</p>
                            </blockquote>

                            <p>Sed convallis eleifend volutpat. Sed justo ex, efficitur sit amet nulla at, semper congue nibh. Praesent at convallis nisi. In vehicula eleifend diam, ut tincidunt risus blandit sit amet. Suspendisse potenti. Vestibulum mollis facilisis ligula at convallis.</p>
                            <p>Nam lacinia, augue ut placerat fermentum, quam sapien congue nisl, vel feugiat mauris diam sit amet nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut vitae sem pharetra, lacinia diam et, mattis metus.</p>
                        </div>
                        <div class="post-tags row">Tags: <a href="#">causes</a>, <a href="#">donate</a></div>
                    </div>
                </article>

                <div class="row related-posts">
                    <h4 class="this-title">Related post</h4>
                    <div class="row">
                        <div class="col-sm-4 related-post">
                            <h5 class="post-title"><a href="single.html">SEMINAR FOR Childrens to know about FUTURE</a></h5>
                            <h4 class="post-cat">in "<a href="#">Food</a>"</h4>
                        </div>
                        <div class="col-sm-4 related-post">
                            <h5 class="post-title"><a href="single.html">Lorem ipsum simple donate event for child</a></h5>
                            <h4 class="post-cat">in "<a href="#">educations</a>"</h4>
                        </div>
                        <div class="col-sm-4 related-post">
                            <h5 class="post-title"><a href="single.html">Buesiness evente for help children</a></h5>
                            <h4 class="post-cat">in "<a href="#">business</a>"</h4>
                        </div>
                    </div>
                </div>

                <ul class="pager">
                    <li class="prev">
                        <a href="#">
                            <span class="post-sequence"><i class="fa fa-arrow-left"></i>previous post</span>
                            <h5 class="post-title">SEMINAR FOR Childrens to know about FUTURE</h5>
                        </a>
                    </li>
                    <li class="next">
                        <a href="#">
                            <span class="post-sequence">next post<i class="fa fa-arrow-right"></i></span>
                            <h5 class="post-title">Lorem ipsum simple donate event for child</h5>
                        </a>
                    </li>
                </ul>

                <div class="media author-about">
                    <div class="media-left">
                        <a href="#"><img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/post2/author.jpg" alt=""></a>
                    </div>
                    <div class="media-body media-middle">
                        <h4 class="author-title"><a href="#">jhon nudge</a></h4>
                        <p>Nam lacinia, augue ut placerat fermentum, quam sapien congue nisl, vel feugiat mauris ellentesque habitant morbi tristique senectus et netus et malesuada.</p>
                        <a href="#" class="btn-primary btn-outline dark">View all post</a>
                    </div>
                </div>

                <div class="row m0 comments">
                    <h4 class="this-title">Comments</h4>

                    <div class="media comment">
                        <div class="media-left"><a href="#"><img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/post2/comment1.jpg" alt=""></a></div>
                        <div class="media-body">
                            <h4><a href="#">jhon merry</a> <small>5 minute ago</small></h4>
                            <h6><a href="#">June 30, 2015</a></h6>
                            <p>Nam lacinia augue ut placerat fermentum, quam sapienisl, vel feugiat mauris ellentesque habitant morbi tristique senectus et netus et malesuada. </p>
                            <a href="#" class="btn-primary btn-outline dark btn-sm">reply</a>

                            <div class="media comment reply">
                                <div class="media-left"><a href="#"><img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/post2/comment3.jpg" alt=""></a></div>
                                <div class="media-body">
                                    <h4><a href="#">jhon merry</a> <small>5 minute ago</small></h4>
                                    <h6><a href="#">June 30, 2015</a></h6>
                                    <p>Augue ut placerat fermentum, quam sapienbi tristique senectus et netus et malesuada. </p>
                                    <a href="#" class="btn-primary btn-outline dark btn-sm">reply</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="media comment">
                        <div class="media-left"><a href="#"><img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/post2/comment3.jpg" alt=""></a></div>
                        <div class="media-body">
                            <h4><a href="#">jhon merry</a> <small>5 minute ago</small></h4>
                            <h6><a href="#">June 30, 2015</a></h6>
                            <p>Nam lacinia augue ut placerat fermentum, quam sapienisl, vel feugiat mauris ellentesque habitant morbi tristique senectus et netus et malesuada. </p>
                            <a href="#" class="btn-primary btn-outline dark btn-sm">reply</a>
                        </div>
                    </div>

                    <div class="media comment">
                        <div class="media-left"><a href="#"><img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/post2/comment3.jpg" alt=""></a></div>
                        <div class="media-body">
                            <h4><a href="#">jhon merry</a> <small>5 minute ago</small></h4>
                            <h6><a href="#">June 30, 2015</a></h6>
                            <p>Nam lacinia augue ut placerat fermentum, quam sapienisl, vel feugiat mauris ellentesque habitant morbi tristique senectus et netus et malesuada. </p>
                            <a href="#" class="btn-primary btn-outline dark btn-sm">reply</a>
                        </div>
                    </div>
                </div>

                <form class="row m0 comment-form contact-form">
                    <h4>leave a comments</h4>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                    <textarea name="message" id="message" placeholder="Message" class="form-control"></textarea>
                    <input type="submit" value="submit" class="btn-primary">
                </form>

            </div>
            <div class="col-md-4 sidebar  post-sidebar">
                <div class="row m0 widget widget-search">
                    <h4 class="widget-title">search</h4>
                    <form action="#" class="row m0 search-form" method="get" role="search">
                        <div class="input-group">
                            <input type="search" class="form-control" placeholder="Search here">
                            <span class="input-group-addon"><button type="submit"><i class="fa fa-search"></i></button></span>
                        </div>
                    </form>
                </div>

                <div class="row m0 widget widget-category">
                    <h4 class="widget-title">categories</h4>
                    <ul class="nav">
                        <li><a href="#">education</a></li>
                        <li><a href="#">environment</a></li>
                        <li><a href="#">building homes</a></li>
                        <li><a href="#">donating clothes</a></li>
                        <li><a href="#">food</a></li>
                        <li><a href="#">OTHERS</a></li>
                    </ul>
                </div>

                <div class="row m0 widget widget-recent-posts">
                    <h4 class="widget-title">recent post</h4>
                    <div class="media recent-post">
                        <div class="media-left"><a href="single.html"><img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/post2/recent1.jpg" alt=""></a></div>
                        <div class="media-body">
                            <h5 class="title"><a href="#">EVENT FOR PROVIDING PENS TO THE CHILDRENS monthly base</a></h5>
                            <h5 class="date"><i class="fa fa-calendar-o"></i><a href="#">June 29, 2015</a></h5>
                        </div>
                    </div>
                    <div class="media recent-post">
                        <div class="media-left"><a href="single.html"><img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/post2/recent2.jpg" alt=""></a></div>
                        <div class="media-body">
                            <h5 class="title"><a href="#">MEDICAL CHECKUP CAMP FOR CHILDRENS IN AFRICA</a></h5>
                            <h5 class="date"><i class="fa fa-calendar-o"></i><a href="#">June 28, 2015</a></h5>
                        </div>
                    </div>
                    <div class="media recent-post">
                        <div class="media-left"><a href="single.html"><img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/post2/recent3.jpg" alt=""></a></div>
                        <div class="media-body">
                            <h5 class="title"><a href="#">EVENT FOR GATHERING BOOKS FOR CHILDRENS</a></h5>
                            <h5 class="date"><i class="fa fa-calendar-o"></i><a href="#">June 27, 2015</a></h5>
                        </div>
                    </div>
                </div>

                <div class="row m0 widget widget-tags">
                    <h4 class="widget-title">Tags</h4>
                    <a href="#" class="tag">causes</a>
                    <a href="#" class="tag">donate</a>
                    <a href="#" class="tag">child</a>
                    <a href="#" class="tag">care</a>
                    <a href="#" class="tag">children help</a>
                    <a href="#" class="tag">donate</a>
                    <a href="#" class="tag">child</a>
                    <a href="#" class="tag">causes</a>
                    <a href="#" class="tag">donate</a>
                    <a href="#" class="tag">child</a>
                    <a href="#" class="tag">care</a>
                </div>

            </div>
        </div>
    </div>

</section>
@Html.Partial("_footer")