
<section class="row page-header">
    <div class="container">
        <h4>Information for Medical Practitioner Licence</h4>
    </div>
</section>

<section style="margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">General Information for application of licence</h3>
                <h5 class="hhh h3">Getting to know about all types of medical licenses issued by the Myanmar Medical Council</h5>
                <div class="desc row m0">
                    <p>"Medical Practitioner License" means a General Medical Practitioner License, Special Medical Practitioner License, Limited General Medical Practitioner License, Limited Special Medical Practitioner License and Medical related Technician /Academician  License  granted/ issued under this Law, by the Council.</p>
                    <p>According to medical council law an acted on April 9 2015, the followings can be applied to medical practitioner licence.</p>
                </div>
            </div>
        </div>
      
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1"></h3>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/GMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">General Medical Practitioner License</h5>
                        <p>A medical practitioner Licence, granted and issued by the Council in accordance with the stipulations, to the citizen registered medical practitioner, who has obtained a recognized basic medical science degree from any local Institute of Medicine and has completed the prescribed internship period;</p>
                        <p>A medical practitioner lincece  granted and issued by the Council to the citizen medical practitioner  who has obtained a basic medical science degree from any foreign Institute of Medicine or any Medical College recognized by the  Council, and has completed the prescribed internship period, after passing the examination of medical practitioner licence.</p>
                    </div>
                </div>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/SMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Specialist Medical Practitioner License</h5>
                        <p>A medical practitioner licence  granted/issued by the Council to a registered medical practitioner who has obtained a post-graduate degree, post-graduate diploma conferred by any Local Institute of Medicine or recognized by the respective Foreign Medical Council and who has been specified / determined as being qualified, well experienced and having expertise.</p>
                        <p></p>
                    </div>
                </div>
                @*<div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/LMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Limited General Medical Practitioner License</h5>
                        <p>A Medical practitioner licence, scrutinized and granted / issued by the Council in accordance with the stipulations, to a foreign medical practitioner who has obtained a basic medical secience degree recognized by the respective Foreign Medical Council and acknowledged by the Council.</p>
                    </div>
                </div>*@
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/LMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Limited Special Medical Practitioner License</h5>
                        <p>A medical practitioner licence, scrutinized and granted and issued by the Council in accordance with the stipulations, to a foreign medical practitioner who has obtained a recognized post-graduate degree or post-graduate diploma from the relevant Foreign Medical Council, acknowledged by the Council.</p>
                    </div>
                </div>
                @*<div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/MEP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Medical Expertise/Medical Related Technician /Academicians Licence</h5>
                        <p>A licence scrutinized and granted and issued by the Council under the conditions required by the subject matter, to a person , although he has not obtained the basic medical science degree, but has obtained any of the medical expertise/ medical related technician/ academician degree, post-graduate degree , post-graduate diploma and can/enable to carry out practice accordingly to the relevant subject,recognized by the respective Foreign Medical Council or organizations set up to carry out the similar matters of the said Council or by the Council.</p>
                    </div>
                </div>*@
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">Who can apply medical practitioner licence?</h3>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/GMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">General Medical Practitioner License</h5>
                        <p>A national registered medical doctor, desirous of performing medical practice shall apply to the Council to obtain the General Medical Practitioner licence in accordance with the regulations.</p>
                    </div>
                </div>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/SMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Specialist Medical Practitioner License</h5>
                        <p>A national registered medical doctor, who has obtained the General Medical Practitioner License, may apply to the Council, in accordance with the stipulations to obtain Special Medical Practitioner licence if commensurate with the prescribed qualification of the special medical practice.</p>
                    </div>
                </div>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/LMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Limited Medical Practitioner License</h5>
                        <p>A foreign medical practitioner who has obtained the basic medical science degree and similar medical degree shall apply to the Council in accordance with the stipulations, to obtain the Limited General Medical Practitioner License.</p>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>

<section style="background-color:#f1f5fa;">
    <div class="container" style="padding-top:35px;padding-bottom:35px;margin-top:25px;margin-bottom:25px;">
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1 whyQ">How to apply licence?</h3>
                <h5 class="hhh h3">There are three ways you can apply for licencing.</h5>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 help-process" style="padding:30px 40px 20px 40px;">
                <div class="icon_box row m0">
                    <img src="~/Content/images/walkin.png" alt="">
                </div>
                <h5>Walk-in application</h5>
                <p>The medical council offers walk-in application service from 9:30 am - 3:30 pm weekdays, except weekends and public hollidays. Please check the requirements below.</p>
            </div>
            <div class="col-sm-4 help-process" style="padding:30px 40px 20px 40px;">
                <div class="icon_box row m0">
                    <img src="~/Content/images/download.png" alt="">
                </div>
                <h5>Form download and submission</h5>
                <p>We provide all necessary forms to apply registration. The download link is avaliable 24/7 and you can download them free of charge under different types of registration.</p>
            </div>
            <div class="col-sm-4 help-process" style="padding:30px 40px 20px 40px;">
                <div class="icon_box row m0">
                    <img src="~/Content/images/online.png" alt="">
                </div>
                <h5>Online direct application</h5>
                <p>We have started working on provision of online direct application service. We will let you know when service becomes available. Exciting to provide the service soon.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">


        <h3 class="hhh h1">Requirements for applying new medical practitioner licence</h3>
        <div class="row">
            <div class="col-md-12">
                <p>The following are the requirements for new licencing application. You need to bring one true copy of each document for all kinds of registration. Please don't forget anything and you can contact customer service for any questions and clarification.</p>

                <div class="media">
                    <h5 class="hhh h3">GENERAL MEDICAL PRACTITIONER</h5>
                    <p><span class="glyphicon glyphicon-check"></span> New application form with your information filled <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/New%20Medical%20Practitioner%20License%20Application%20Form.pdf" download><span class="badge"><span class="glyphicon glyphicon-download"></span> You can download here.</span></a> </p>
                    <p><span class="glyphicon glyphicon-check"></span> Medical Degree Certificate</p>
                    <p><span class="glyphicon glyphicon-check"></span> House Surgeon Completion Certificate</p>
                    <p><span class="glyphicon glyphicon-check"></span> Certificate of Date of Birth (Age) issued by respective University of Medicine</p>
                    <p><span class="glyphicon glyphicon-check"></span> National Citizenship Scrutiny Card</p>
                    <p><span class="glyphicon glyphicon-check"></span> Color License Photo (With light blue background - 1.5' x 1.5')</p>
                    <p><span class="glyphicon glyphicon-check"></span> License Fees - 30,000 kyats</p>
                </div>
                <div class="media">
                    <h5 class="hhh h3">
                        LIMITED GENERAL MEDICAL PRACTITIONER
                    </h5>
                    <p><span class="glyphicon glyphicon-check"></span> Going to be released soon</p>
                </div>
                <div class="media">
                    <h5 class="hhh h3">
                        LIMITED SPECIAL MEDICAL PRACTITIONER
                    </h5>
                    <p><span class="glyphicon glyphicon-check"></span> Going to be released soon</p>
                </div>
                <div class="media">
                    <h5 class="hhh h3">
                        SPECIALIST MEDICAL PRACTITIONER LICENCE
                    </h5>
                    <p><span class="glyphicon glyphicon-check"></span> Going to be released soon</p>
                </div>

            </div>
        </div>
        <hr/>

        <div class="row">
            <div class="col-md-12">
                
                    <h3 class="hhh h1">Requirments for renewal of licence</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <p>3 months before or 2 months after expiration of licence. This section will guide you through the licencing process. It will help you the form and ensure that you do not forget any important elements of your application.</p>
                        </div>
                    </div>

                    <div class="media">
                        <h5 class="hhh h3">General Medical Practitioner License</h5>
                        <p><span class="glyphicon glyphicon-check"></span> Renewal application form filled with your information <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/Renewal%20of%20Medical%20Practitioner%20License%20Application%20Form.pdf" download><span class="badge"><span class="glyphicon glyphicon-download"></span> You can download here.</span></a> </p>
                        <p><span class="glyphicon glyphicon-check"></span> National Citizenship Scrutiny Card</p>
                        <p><span class="glyphicon glyphicon-check"></span> Previous Medical Practitioner License Booklet</p>
                        <p><span class="glyphicon glyphicon-check"></span> Colored License Photo</p>
                        <p><span class="glyphicon glyphicon-check"></span> Renewal fee License Fees - 30,000 kyats for three year</p>


                    </div>
                    <div class="media">
                        <h5 class="hhh h3">SPECIALIST MEDICAL PRACTITIONER LICENCE</h5>
                        <p><span class="glyphicon glyphicon-check"></span> Renewal application form filled with your information <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/Renewal%20of%20Medical%20Practitioner%20License%20Application%20Form.pdf" download><span class="badge"><span class="glyphicon glyphicon-download"></span> You can download here.</span></a> </p>
                        <p><span class="glyphicon glyphicon-check"></span> National Citizenship Scrutiny Card</p>
                        <p><span class="glyphicon glyphicon-check"></span> Previous Medical Practitioner License Booklet</p>
                        <p><span class="glyphicon glyphicon-check"></span> Colored License Photo</p>
                        <p><span class="glyphicon glyphicon-check"></span> Renewal fee License Fees - 30,000 kyats for three year</p>


                    </div>
                </div>
           
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12">

                <h3 class="hhh h1">Application form download</h3>

                <p>We provide application form download link necessary for all types of application. After downloaded, you need to print downloaded form and fill it with your information. Then you must bring it to the council for 'Walk-in' and 'Form download and submission' application process. </p>

            </div>
            </div>
         
        <div class="row">

            <div class="col-lg-4  col-md-4 event-listing">

                <div class="event_excepts row m0">
                    <h4 class="hhh h3">For new licencing</h4>
                    <h5 class="event-place">Form ID: NR01</h5>
                    <p>This application form is valid only for applying all types of new licence except limited registration.</p>
                    <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net:443/mmc/docs/New%20Medical%20Practitioner%20License%20Application%20Form.pdf" class="btn btn-primary btn-outline" download><span class="glyphicon glyphicon-download"></span> Download</a>
                </div>

            </div>
            <!--Event-->
            <div class="col-lg-4 col-md-4 event-listing">

                <div class="event_excepts row m0">
                    <h4 class="hhh h3">For Licence renewal</h4>
                    <h5 class="event-place">Form ID: RR01</h5>
                    <p>This application form is valid only for applying renewal of licence except limited registration.</p>
                    <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/Renewal%20of%20Medical%20Practitioner%20License%20Application%20Form.pdf" class="btn btn-primary btn-outline" download><span class="glyphicon glyphicon-download"></span> Download</a>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 event-listing">

                <div class="event_excepts row m0">
                    <h4 class="hhh h3">For Good Standing Certificate</h4>
                    <h5 class="event-place">Form ID: GS01</h5>
                    <p>Good standing certificate can be applied by national registrar and valid practicing licence holders who are intending to go aboard for further study or employment.</p>
                    <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/Good%20Standing%20Certificate.pdf" class="btn btn-primary btn-outline"><span class="glyphicon glyphicon-download"></span> Download</a>

                </div>
            </div>
        </div>

            </div>
        
</section>
<section>
    <div class="container">
        <div class="row m0 emmergencyContact">
            <div class="col-lg-6 contact_Col">Email us at info@myanmarmedicalcouncil.org.mm</div>
            <div class="col-lg-6 contact_Col">Questions? Give us a call at +95-9-456844445 </div>
        </div>
    </div>
</section>
@Html.Partial("_footer")