
<section class="row page-header">
    <div class="container">
        <h4>Information for Medical Practitioner Registration</h4>
    </div>
</section>

<section style="margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">General Information for Medical Practitioner Registration</h3>
                <h5 class="hhh h3">Getting to know about registration policies and procedures</h5>
                <div class="desc row m0">
                    <p>All medical practitioners (Local and Foreign) must be registered with MMC and issued a practicing licence before they can practise medicine in Myanmar.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1"></h3>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/full.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Full registration</h5>
                        <p>Local medical graduate refers to a Myanmar national holding M.B.,B.S degree awarded by any of the local medical universities recognized by the Myanmar Medical Council.</p>
                        <p>This group of doctors can apply for full registration upon fulfilling the existing criteria.</p>
                        <p>International Medical Graduates can also apply for full registration only if they are Myanmar nationals holding M.B.,B.S or equivalent degree awarded by any of foreign medical institutions recognized by the Myanmar Medical Council.</p>
                        <p>Doctors who do not meet the criteria for full registration may apply for limited registration, subject to existing criteria for limited registration.</p>
                    </div>
                </div>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/limited.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Limited registration</h5>
                        <p>To promote exchange of medical expertise, training and international collaboration, recognized medical specialists are eligible for limited registration for the following purposes:</p>
                        <ol>
                            <li><p>Visit by recognized experts</p></li>
                            <li><p>Teaching and training programs</p></li>
                            <li><p>Humanitarian missions</p></li>
                            <li><p>Research</p></li>

                        </ol>
                    </div>
                </div>

            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">Procedure</h3>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/seo.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Learn more about procedure</h5>
                        <p>Responsible hospital/health care institute or organization must apply for limited registration of foreign medical specialist/s with the required documents stated below:</p>
                        <ol>
                            <li><p>Curriculum vitae/Resume</p></li>
                            <li><p>Certificate of good standing/Certificate of registration status</p></li>
                            <li><p>Approval from Ministry of Health and Sports (MOHS) (only necessary for practice in government/public hospital)</p></li>
                            <li><p>Recommendation letter from local specialist counterpart</p></li>

                        </ol>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
</section>

<section style="background-color:#f1f5fa;">
    <div class="container" style="padding-top:35px;padding-bottom:35px;margin-top:25px;margin-bottom:25px;">
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1 whyQ">How to apply registration and licencing?</h3>
                <h5 class="hhh h3">There are three ways you can apply the registration and licencing.</h5>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 help-process" style="padding:30px 40px 20px 40px;">
                <div class="icon_box row m0">
                    <img src="~/Content/images/walkin.png" alt="">
                </div>
                <h5>Walk-in application</h5>
                <p>The medical council offers walk-in application service from 9:30 am - 3:30 pm weekdays, except weekends and public hollidays. Please check the requirements below.</p>
            </div>
            <div class="col-sm-4 help-process" style="padding:30px 40px 20px 40px;">
                <div class="icon_box row m0">
                    <img src="~/Content/images/download.png" alt="">
                </div>
                <h5>Form download and submission</h5>
                <p>We provide all necessary forms to apply registration. The download link is avaliable 24/7 and you can download them free of charge under different types of registration.</p>
            </div>
            <div class="col-sm-4 help-process" style="padding:30px 40px 20px 40px;">
                <div class="icon_box row m0">
                    <img src="~/Content/images/online.png" alt="">
                </div>
                <h5>Online direct application</h5>
                <p>We have started working on provision of online direct application service. We will let you know when service becomes available. Exciting to provide the service soon.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">


        <h3 class="hhh h1">Requirements for new medical practitioner registration</h3>
        <div class="row">
            <div class="col-md-12">
                <p>The following are the requirements for new registration application. You need to bring one true copy of each document for all kinds of registration. Please don't forget anything and you can contact customer service for any questions and clarification.</p>

                <div class="media">
                    <h5 class="hhh h3">GENERAL MEDICAL PRACTITIONER</h5>
                    <p><span class="glyphicon glyphicon-check"></span> New application form with your information filled <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/New%20Medical%20Practitioner%20License%20Application%20Form.pdf" download><span class="badge"><span class="glyphicon glyphicon-download"></span> You can download here.</span></a> </p>
                    <p><span class="glyphicon glyphicon-check"></span> Medical Degree Certificate</p>
                    <p><span class="glyphicon glyphicon-check"></span> House Surgeon Completion Certificate</p>
                    <p><span class="glyphicon glyphicon-check"></span> Certificate of Date of Birth (Age) issued by respective University of Medicine</p>
                    <p><span class="glyphicon glyphicon-check"></span> National Citizenship Scrutiny Card</p>
                    <p><span class="glyphicon glyphicon-check"></span> Color License Photo (With light blue background - 1.5' x 1.5')</p>
                    <p><span class="glyphicon glyphicon-check"></span> Registration Fees - 20,000 kyats</p>
                </div>
                <div class="media">
                    <h5 class="hhh h3">
                        LIMITED GENERAL MEDICAL PRACTITIONER
                    </h5>
                    <p><span class="glyphicon glyphicon-check"></span> Going to be released soon</p>
                </div>
                <div class="media">
                    <h5 class="hhh h3">
                        LIMITED SPECIAL MEDICAL PRACTITIONER
                    </h5>
                    <p><span class="glyphicon glyphicon-check"></span> Going to be released soon</p>
                </div>
                <div class="media">
                    <h5 class="hhh h3">
                        SPECIALIST MEDICAL PRACTITIONER
                    </h5>
                    <p><span class="glyphicon glyphicon-check"></span> Going to be released soon</p>
                </div>

            </div>
        </div>
        <hr/>

        
        <div class="row">
            <div class="col-md-12">

                <h3 class="hhh h1">Application form download</h3>

                <p>We provide application form download link necessary for all types of application. After downloaded, you need to print downloaded form and fill it with your information. Then you must bring it to the council for 'Walk-in' and 'Form download and submission' application process. </p>

            </div>
            </div>
        <div class="row">

            <div class="col-lg-4  col-md-4 event-listing">

                <div class="event_excepts row m0">
                    <h4 class="hhh h3">For new registration</h4>
                    <h5 class="event-place">Form ID: NR01</h5>
                    <p>This application form is valid only for applying all types of new registration except limited registration.</p>
                    <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net:443/mmc/docs/New%20Medical%20Practitioner%20License%20Application%20Form.pdf" class="btn btn-primary btn-outline" download><span class="glyphicon glyphicon-download"></span> Download</a>
                </div>

            </div>
            <!--Event-->
            <div class="col-lg-4 col-md-4 event-listing">

                <div class="event_excepts row m0">
                    <h4 class="hhh h3">For renewal registration</h4>
                    <h5 class="event-place">Form ID: RR01</h5>
                    <p>This application form is valid only for applying renewal registration except limited registration.</p>
                    <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/Renewal%20of%20Medical%20Practitioner%20License%20Application%20Form.pdf" class="btn btn-primary btn-outline" download><span class="glyphicon glyphicon-download"></span> Download</a>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 event-listing">

                <div class="event_excepts row m0">
                    <h4 class="hhh h3">For Good Standing Certificate</h4>
                    <h5 class="event-place">Form ID: GS01</h5>
                    <p>Good standing certificate can be applied by national registrar and valid practicing licence holders who are intending to go aboard for further study or employment.</p>
                    <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/Good%20Standing%20Certificate.pdf" class="btn btn-primary btn-outline"><span class="glyphicon glyphicon-download"></span> Download</a>

                </div>
            </div>
        </div>
            </div>
        
</section>
<section>
    <div class="container">
        <div class="row m0 emmergencyContact">
            <div class="col-lg-6 contact_Col">Email us at info@myanmarmedicalcouncil.org.mm</div>
            <div class="col-lg-6 contact_Col">Questions? Give us a call at +95-9-456844445 </div>
        </div>
    </div>
</section>
@Html.Partial("_footer")