<footer class="row foooter footer2">
    <div class="container">
        <div class="row footer_sidebar">
            <div class="widget widget-about col-sm-4 col-md-4">
                <h5 class="widget-title">about Myanmar Medical Council</h5>
                <p>Myanmar Medical Council, as it was known then, was formed under the Burma Medical Council Act, 1957. This Act was subsequently repealed and the Myanmar Medical Council Law was drafted and came into force on January 14, 2000.</p>
                <a asp-controller="Home" asp-action="About" target="_blank" class="btn-primary btn-outline white">Learn more</a>
            </div>
            <div class="widget widget-recent-tweets col-sm-4 col-md-4">
                <h5 class="widget-title">recent Facebook Posts</h5>
                <div class="tweet m0">
                    <p>
                        Please visit our official facebook page now.<br>
                      
                    </p>
                </div>
                <a href="https://www.facebook.com/myanmarmedicalcouncil/" target="_blank" class="btn btn-primary btn-outline white">Visit fb page now</a>
            </div>
            <div class="widget widget-recent-posts col-sm-4 col-md-4">
                <h5 class="widget-title">recent posts</h5>
                <ul class="nav recent-posts">
                    <li><a href="#">Online direct application for medical practitioner licence will be available soon.</a></li>
                </ul>
            </div>


        </div>
    </div>

    <div class="row copyright_area m0">
        <div class="container">
            <div class="copy_inner row">
                <div class="col-sm-8 copyright_text">Copyright 2016. All Rights Reserved by <a href="#">Myanmar Medical Council</a>. Designed by <a href="#">Xbiz and Inspiration Co.,Ltd</a>.</div>
                <div class="col-sm-4 footer-nav">
                    <ul class="nav">
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Desclaimer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>