USE [MMCDB]
GO
/****** Object:  Table [dbo].[tbAccount]    Script Date: 3/24/2017 12:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbAccount](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Role] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[Accesstime] [datetime] NULL,
	[Email] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbAccount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbArticle]    Script Date: 3/24/2017 12:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbArticle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[Body] [nvarchar](50) NULL,
	[AuthorID] [int] NULL,
	[PostedDate] [datetime] NULL,
	[IsPublished] [bit] NULL,
	[Accesstime] [datetime] NULL,
	[Tag] [nvarchar](50) NULL,
	[AuthorName] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbArticle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbDoctor]    Script Date: 3/24/2017 12:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbDoctor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[MMCNo] [int] NULL,
	[LicenseNo] [int] NULL,
	[NRCNo] [nvarchar](255) NULL,
	[DOB] [date] NULL,
	[Race] [nvarchar](255) NULL,
	[MotherName] [nvarchar](255) NULL,
	[OtherQualification] [nvarchar](255) NULL,
	[Contact] [nvarchar](255) NULL,
	[Mobile] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[IsPractisingDoctor] [bit] NULL,
	[IsPractisingInGovernmentService] [bit] NULL,
	[Gender] [nvarchar](255) NULL,
	[Remark] [nvarchar](255) NULL,
	[Nationality] [nvarchar](255) NULL,
	[ClinicAddress] [nvarchar](255) NULL,
	[AdState] [nvarchar](255) NULL,
	[CState] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[Validity] [bit] NULL,
	[Createdby] [int] NULL,
	[Accesstime] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[AdTownship] [nvarchar](255) NULL,
	[CTownship] [nvarchar](255) NULL,
	[Religion] [nvarchar](255) NULL,
	[Age] [decimal](18, 0) NULL,
	[Status] [nvarchar](255) NULL,
	[ServiceType] [nvarchar](255) NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbLocation]    Script Date: 3/24/2017 12:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbLocation](
	[ID] [int] NOT NULL,
	[DialingCode] [nvarchar](255) NULL,
	[Country] [nvarchar](255) NULL,
	[StateDivision] [nvarchar](255) NULL,
	[DivisionCode] [nvarchar](255) NULL,
	[Township] [nvarchar](255) NULL,
	[TownshipCode] [nvarchar](255) NULL,
	[Createdby] [nvarchar](255) NULL,
	[Accesstime] [nvarchar](255) NULL,
	[Abbreviation] [nvarchar](50) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_tbLocation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbPhoto]    Script Date: 3/24/2017 12:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPhoto](
	[ID] [int] NOT NULL,
	[PhotoURL] [nvarchar](50) NULL,
	[ArticleID] [int] NULL,
	[PostedDate] [datetime] NULL,
	[IsPublished] [bit] NULL,
	[Accesstime] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[UploadedbyID] [int] NULL,
	[UploadedbyName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tbPhoto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbQualification]    Script Date: 3/24/2017 12:47:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbQualification](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Institution] [nvarchar](max) NULL,
	[GraduationDate] [date] NULL,
	[DoctorId] [int] NULL,
	[DoctorName] [nvarchar](max) NULL,
	[Accesstime] [datetime] NULL,
	[IsDeleted] [bit] NULL,
	[Type] [nvarchar](max) NULL,
	[AssociatedSpeciality] [nvarchar](max) NULL,
 CONSTRAINT [PK_tbQualification] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tbAccount] ON 

INSERT [dbo].[tbAccount] ([ID], [Name], [Username], [Password], [Role], [IsDeleted], [Accesstime], [Email], [Phone]) VALUES (1, N'admin', N'admin', N'admin', N'Administrator', 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbAccount] OFF
SET IDENTITY_INSERT [dbo].[tbArticle] ON 

INSERT [dbo].[tbArticle] ([ID], [Title], [Body], [AuthorID], [PostedDate], [IsPublished], [Accesstime], [Tag], [AuthorName], [IsDeleted], [Photo]) VALUES (1, N'This is test', N'This is test for article content', 1, CAST(N'2017-02-16 00:12:32.093' AS DateTime), 1, CAST(N'2017-02-16 00:12:32.093' AS DateTime), NULL, N'admin', 0, NULL)
SET IDENTITY_INSERT [dbo].[tbArticle] OFF
INSERT [dbo].[tbLocation] ([ID], [DialingCode], [Country], [StateDivision], [DivisionCode], [Township], [TownshipCode], [Createdby], [Accesstime], [Abbreviation], [IsDeleted]) VALUES (1, N'+93', N'Afghanistan', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbLocation] ([ID], [DialingCode], [Country], [StateDivision], [DivisionCode], [Township], [TownshipCode], [Createdby], [Accesstime], [Abbreviation], [IsDeleted]) VALUES (2, N'+', N'Akrotiri', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tbLocation] ([ID], [DialingCode], [Country], [StateDivision], [DivisionCode], [Township], [TownshipCode], [Createdby], [Accesstime], [Abbreviation], [IsDeleted]) VALUES (3, N'+355', N'Albania', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
