
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
 
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/core.css" rel="stylesheet" />
    <link href="~/Content/components.css" rel="stylesheet" />
    <link href="~/Content/colors.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
        

       

</head>
<body>

    <div class="col-md-12">
        <img style="margin-top:50px;border-radius:2px;padding-bottom:0px;" class="center-block" src="~/Images/placeholder.jpg" width="50px;"/>
        <h3 class="text-center">MMCDB</h3>
        <div class="col-sm-4 col-sm-offset-4">           
                <div class="panel panel-default">
                  
                    <div class="panel-body">
                       
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                 <input type="text" class="form-control" placeholder="Username" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                              <input type="text" class="form-control" placeholder="Password" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                
                                    <input type="checkbox" class="" name="Remember">
                                    <label for="Remember">&nbsp;Remember Me</label>
                                </div>

                            </div>
                            <div class="text-center">
                               
                                <button type="submit" class="btn btn-success btn-sm">Log in</button>
                            </div>
                        </form>
                    </div>

                </div>

        </div>
    </div>

</body>
</html>
