
@section head{
    @Styles.Render("~/Content/validation/css")
    <link href="~/Content/css/fountain.css" rel="stylesheet" />
}
<section class="row page-header">
    <div class="container">
        <h4>Application for renewing medical practitioner licence</h4>
    </div>
</section>

<section style="margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">General Information</h3>
                <h5 class="hhh h3">Getting to know about policies and procedures for renewing medical practitioner licence</h5>
                <div class="desc row m0">
                    <p>All medical practitioners (Local and Foreign) must be registered with MMC and issued a practicing licence before they can practise medicine in Myanmar.</p>
                </div>
            </div>
        </div>

    </div>
</section>

<section style="background-color:#f1f5fa;">
    <div class="container" style="padding-top:35px;padding-bottom:35px;margin-top:25px;margin-bottom:25px;">
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1 whyQ">How to apply renewal of medical practitioner licence?</h3>
                <h5 class="hhh h3">There are three ways you can apply for renewing your licence.</h5>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 help-process" style="padding:30px 40px 20px 40px;">
                <div class="icon_box row m0">
                    <img src="~/Content/images/walkin.png" alt="">
                </div>
                <h5>Walk-in application</h5>
                <p>The medical council offers walk-in application service from 9:30 am - 3:30 pm weekdays, except weekends and public hollidays. Please check the requirements below.</p>
            </div>
            <div class="col-sm-4 help-process" style="padding:30px 40px 20px 40px;">
                <div class="icon_box row m0">
                    <img src="~/Content/images/download.png" alt="">
                </div>
                <h5>Form download and submission</h5>
                <p>We provide all necessary forms to apply licence renewal. The download link is avaliable 24/7 and you can download them free of charge under different types of registration.</p>
            </div>
            <div class="col-sm-4 help-process" style="padding:30px 40px 20px 40px;">
                <div class="icon_box row m0">
                    <img src="~/Content/images/online.png" alt="">
                </div>
                <h5>Online direct application</h5>
                <p>Welcome!. You can apply renewal of medical practitioner licence online now. <a href="#div_application"> Start here.</a></p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container" id="div_requirement">


        <h3 class="hhh h1">Requirements for renewal of medical practitioner licence</h3>
        <div class="row">
            <div class="col-md-12">
                <p>The following are the requirements for renewal application. You need to bring all those requirement and you can contact customer service for any questions and support.</p>
            </div>
        </div>
        <br/>
        <div class="row" >
            <div class="col-md-12">
                <div class="media">
                    <h4 class="hhh">GENERAL MEDICAL PRACTITIONER</h4>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5 class="hhh h3">Walk-In Application</h5>
                            <p><span class="glyphicon glyphicon-check"></span> Fill renewal application form <span class="badge"><span class="glyphicon glyphicon-info-sign"></span> get at front desk</span> </p>
                            <p><span class="glyphicon glyphicon-check"></span> Medical Practising License Booklet</p>
                            <p><span class="glyphicon glyphicon-check"></span> National Citizenship Scrutiny Card (Copy)</p>
                            <p><span class="glyphicon glyphicon-check"></span> Color License Photo (With light blue background - 1.5' x 1.5')</p>
                            <p><span class="glyphicon glyphicon-check"></span> Renewal fee License Fees - 30,000 kyats for three year</p>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="hhh h3">Form Download and Submission</h5>
                            <p><span class="glyphicon glyphicon-check"></span> Fill and send renewal application form <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/New%20Medical%20Practitioner%20License%20Application%20Form.pdf" download><span class="badge"><span class="glyphicon glyphicon-download"></span> download here</span></a> </p>
                            <p><span class="glyphicon glyphicon-check"></span> Medical Practising License Booklet</p>
                            <p><span class="glyphicon glyphicon-check"></span> National Citizenship Scrutiny Card (Copy)</p>
                            <p><span class="glyphicon glyphicon-check"></span> Color License Photo (With light blue background - 1.5' x 1.5')</p>
                            <p><span class="glyphicon glyphicon-check"></span> Renewal fee License Fees - 30,000 kyats for three year</p>
                        </div>
                        <div class="col-sm-4">
                            <h5 class="hhh h3">Online Direct Application</h5>
                            <p><span class="glyphicon glyphicon-check"></span> Fill and submit renewal application form online <a href="#div_application"><span class="badge"><span class="glyphicon glyphicon-info-sign"></span> see below</span> </a></p>
                            <p><span class="glyphicon glyphicon-check"></span> National Citizenship Scrutiny Card (Copy)</p>
                            <p><span class="glyphicon glyphicon-check"></span> Color License Photo (With light blue background - 1.5' x 1.5')</p>
                            <p><span class="glyphicon glyphicon-check"></span> Renewal fee License Fees - 30,000 kyats for three year</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="media">
                    <h4 class="hhh">LIMITED GENERAL MEDICAL PRACTITIONER LICENCE</h4>
                    <p><span class="glyphicon glyphicon-check"></span> Going to be released soon</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <h4 class="hhh">LIMITED SPECIAL MEDICAL PRACTITIONER LICENCE</h4>
                    <p><span class="glyphicon glyphicon-check"></span> Going to be released soon</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media">
                    <h4 class="hhh"> SPECIALIST MEDICAL PRACTITIONER LICENCE</h4>
                    <p><span class="glyphicon glyphicon-check"></span> Going to be released soon</p>
                </div>
            </div>
         
        </div>
     
        <hr />


        <div class="row">
            <div class="col-md-12">

                <h3 class="hhh h1">Application form download</h3>

                <p>We provide application form download link necessary for all types of application. After downloaded, you need to print downloaded form and fill it with your information. Then you must bring it to the council for 'Walk-in' and 'Form download and submission' application process. </p>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-4  col-md-4 event-listing">

                <div class="event_excepts row">
                    <h4 class="hhh h3">For new registration and licence</h4>
                    <h5 class="event-place">Form ID: NR01</h5>
                    <p>This application form is valid only for applying all types of new registration except limited registration.</p>
                    <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net:443/mmc/docs/New%20Medical%20Practitioner%20License%20Application%20Form.pdf" class="btn btn-primary btn-outline" download><span class="glyphicon glyphicon-download"></span> Download</a>
                </div>

            </div>
        
            <!--Event-->
            <div class="col-lg-4 col-md-4 event-listing">

                <div class="event_excepts row m0">
                    <h4 class="hhh h3">For renewal of licence</h4>
                    <h5 class="event-place">Form ID: RR01</h5>
                    <p>This application form is valid only for applying renewal of medical practitioner licence.</p>
                    <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/Renewal%20of%20Medical%20Practitioner%20License%20Application%20Form.pdf" class="btn btn-primary btn-outline" download><span class="glyphicon glyphicon-download"></span> Download</a>
                </div>

            </div>
            <div class="col-lg-4 col-md-4 event-listing">

                <div class="event_excepts row m0">
                    <h4 class="hhh h3">For Good Standing Certificate</h4>
                    <h5 class="event-place">Form ID: GS01</h5>
                    <p>Good standing certificate can be applied by national registrar and valid practicing licence holders who are intending to go aboard for further study or employment.</p>
                    <a href="https://portalvhdslvb28rs1c3tmc.blob.core.windows.net/mmc/docs/Good%20Standing%20Certificate.pdf" class="btn btn-primary btn-outline"><span class="glyphicon glyphicon-download"></span> Download</a>

                </div>
            </div>
        </div>
        <hr />
        <h3 class="hhh h1">Online application for renewing of medical practitioner licence</h3>
        <div class="row">
            <div class="col-md-12">
                <p>You can apply your renewal of medical practitioner licence online now. It only takes few minutes and you need to go through step by step shown in right side below.</p>
            </div>
        </div>
        <br />
        <h5 class="hhh h3" id="div_application">ONLINE RENEWAL APPLICATION FORM</h5>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6 event-listing" id="div_form">
                        
                        @Html.Partial("_Edit")
                    </div>
                    <div class="col-md-6 event-listing">
                        <div class="event_excepts row m0 post">
                            <h4 class="hhh h3">Terms and Conditions</h4>
                            <h5 class="event-place">For renewal application</h5>
                            <p>This online application is valid only for applying renewal of medical practitioner licence. Additional charges: bank charges and delivery charges, need to be paid by the applicant. We will send renewed medical practitioner licence booklet with your preferred postal service and we will not take any responsibility for lost and damage during delivery.</p>

                        </div>
                        <div class="event_excepts row m0">
                            <h4 class="hhh h3">Step 1</h4>
                            <h5 class="event-place">Submit application online</h5>
                            <p>For your renewal application, please fill up the form on the left side and submit to us. If you see 'Congratulation' message, your application has been successfully submitted and we will shortly send your application receipt to your email. Don't forget to check your inbox.</p>
                        </div>
                        <div class="event_excepts row m0">
                            <h4 class="hhh h3">Step 2</h4>
                            <h5 class="event-place">Send required document</h5>
                            <p>For renewal process, you need to send your holding medical practitioner licence booklet and your photo to <strong>No. 123, Nat Mauk Road, Bahan Township, Yangon</strong></p>
                            <br />
                            <a href="#div_requirement" class="btn btn-primary btn-outline">See requirements</a>
                            <a href="~/Contact/Index" target="_blank" class="btn btn-primary btn-outline">See contact</a>
                        </div>
                        <div class="event_excepts row m0">
                            <h4 class="hhh h3">Step 3</h4>
                            <h5 class="event-place">Wait for processing</h5>
                            <p>Renewal application process usually takes for 7 to 10 days to complete. During processing, you will be informed for additional requirements if necessary. Then we will deliver renewed medical practitioner licence booklet to your address with your preferred postal service.</p>
                        </div>
                        <div class="event_excepts row m0">
                            <h4 class="hhh h3">Step 4</h4>
                            <h5 class="event-place">Acknowledge your receipt</h5>
                            <p>Please acknowledge us after you have received renewed medical practitioner licence booklet through email.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
        
</section>
<section>
    <div class="container">
        <div class="row m0 emmergencyContact">
            <div class="col-lg-6 contact_Col">Email us at info@myanmarmedicalcouncil.org.mm</div>
            <div class="col-lg-6 contact_Col">Questions? Give us a call at +95-9-456844445 </div>
        </div>
    </div>
</section>
@Html.Partial("_footer")

@section scripts{
    @Scripts.Render("~/bundles/validation")
    <script type="text/javascript">
        $(function () {
            setStateAndTownship("#states", "#townships")
            activateEditForm();

        });
        
        function formaction(type) {
            if (type == "edit") {

                $("#renewalConfirmForm").attr("action", "/RenewalApplication/Confrim?button=edit");
            }
            else if(type == "confirm") {
                $("#renewalConfirmForm").attr("action", "/RenewalApplication/RenewalConfrim?button=confirm");
            }
            else if(type == "start")
            {
                $("#renewalViewForm").attr("action", "/RenewalApplication/SendConfirmationInfo?button=start");
            }
            else
            {
                $("#renewalViewForm").attr("action", "/RenewalApplication/SendConfirmationInfo?button=send");
            }
        }
        function activateViewForm() {
           
            $('#viewForm').submit(function (e) {
                e.preventDefault();
                var $form = $(e.target);
               
                $.ajax(
                {
                    cache: false,
                    async: true,
                    type: "POST",
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    beforeSend: function () {
                        $('#alert').addClass('hidden');
                        $('#loading').removeClass('hidden');

                    },
                    success: function (myData) {

                        $('#loading').addClass('hidden');
                        if (myData != "Error!"){
                            if (myData !="Redirect") {

                                $('#div_form').empty().append(myData);
                                $('#alert').removeClass('shown');
                                activateViewForm();
                            }
                            else
                            {
                                window.location.href = '/RenewalApplication/Index'
                            }
                        }

                    },
                    complete: function () {

                        
                    }
                });
            })
        }
        function activateEditForm() {
            $('#editForm').bootstrapValidator({
                message: 'This value is not valid',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                excluded: ':disabled',
                fields: {

                    Name: {
                        message: 'Name is not valid.',
                        validators: {
                            notEmpty: {
                                message: 'Name is required for contact information.'
                            }
                        }
                    },
                    LicenseNo: {
                        message: 'License No is not valid.',
                        validators: {
                            notEmpty: {
                                message: 'License No is required for renewal process.'
                            }
                        }
                    },
                    CurrentAddress: {
                        message: 'Current address is not valid.',
                        validators: {
                            notEmpty: {
                                message: 'Current address is required for renewal process.'
                            }
                        }
                    },

                    Degree: {
                        message: 'Degree is not valid.',
                        validators: {
                            notEmpty: {
                                message: 'Your degree is required for renewal process.'
                            }
                        }
                    },
                    GraduationYear: {
                        message: 'Graduation Year is not valid.',
                        validators: {
                            notEmpty: {
                                message: 'Graduation Year is required for renewal process.'
                            }
                        }
                    },
                    Email: {
                        message: 'License No is not valid.',
                        validators: {
                            notEmpty: {
                                message: 'Email address is required for getting contact.'
                            }
                        }
                    },
                    Phone: {
                        message: 'Phone is not valid.',
                        validators: {
                            notEmpty: {
                                message: 'Phone is required.'
                            }
                        }
                    }


                }
            }).on('success.form.bv', function (e) {
                e.preventDefault();
                $('#hstates').val($('#states').val());
                $('#htownships').val($('#townships').val());
                var $form = $(e.target);
                $.ajax(
                {
                    cache: false,
                    async: true,
                    type: "POST",
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    beforeSend: function () {
                        $('#alert').addClass('hidden');
                        $('#loading').removeClass('hidden');

                    },
                    success: function (myData) {

                        $('#loading').addClass('hidden');
                        if (myData != "Error!") {

                            $('#div_form').empty().append(myData);
                            $('#alert').removeClass('shown');
                            activateConfirmForm();
                        }

                    },
                    complete: function () {

                        //$('.form-control').val('');
                        //$('.summernote').val('');
                        //$('#status-message').text('');
                    }
                });
            });
        }
        function activateConfirmForm() {
            $('#confirmForm').submit(function (e) {
                e.preventDefault();
                var $form = $(e.target);

                $.ajax(
                {
                    cache: false,
                    async: true,
                    type: "POST",
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    beforeSend: function () {
                        $('#alert').addClass('hidden');
                        $('#loading').removeClass('hidden');

                    },
                    success: function (myData) {

                        $('#loading').addClass('hidden');
                        if (myData != "Error!") {

                            $('#div_form').empty().append(myData);
                            $('#alert').removeClass('shown');
                            var formid = $(myData).closest("form[id]").attr('id');
                          
                            if (formid == "renewalEditForm") {

                                setStateAndTownship("#states", "#townships")
                                activateEditForm();
                            }
                            else {
                              
                                activateViewForm();
                            }
                        }

                    },
                    complete: function () {
                        //activateEditForm();
                        //$('.form-control').val('');
                        //$('.summernote').val('');
                        //$('#status-message').text('');
                    }
                });
            })
        }

    </script>
}