
<section class="row page-header">
    <div class="container">
        <h4>General Information</h4>
    </div>
</section>

<section style="margin-top:20px;text-align:justify">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">ရည္ရြယ္ခ်က္</h3>
              
                    <ul class="custom_ul">
                        <li>အရည္အေသြးျပည့္ဝ၍ ထိေရာက္မႈႏွင့္ လံုျခံဳမႈရွိေသာ က်န္းမာေရး ေစာင့္ေရွာက္မႈကို ႏိုင္ငံအတြင္း မွီတင္းေနထိုင္ၾကသူအားလံုး ခံစားခြင့္ ရရွိေစရန္၊</li>
                        <li>ဆရာဝန္မ်ား၏ ေဆးပညာဗဟုသုတ၊ က်န္းမာေရးေစာင့္ေရွာက္မႈ အရည္အေzသြးႏွင့္ အဆင့္အတန္းကို အစဥ္တစိုက္ ထိန္းသိမ္းျမွင့္တင္ရန္၊</li>
                        <li>ေဆးပညာကို ေခတ္ႏွင့္ အညီ ေလ့လာသင္ၾကားႏိုင္ေစရန္၊</li>
                        <li>ေဆးပညာတိုးတက္မႈကို စဥ္ဆက္မျပတ္ ေလ့လာဆည္းပူးႏိုင္ေစရန္၊ </li>
                        <li>ဆရာဝန္မ်ား၏ ဂုဏ္သိကၡာကို ထိန္းသိမ္းျမွင့္တင္ႏိုင္ေစရန္၊ </li>
                        <li>ဆရာဝန္မ်ားက်င့္ဝတ္သိကၡာႏွင့္ စည္းကမ္းမ်ား လိုက္နာေစာင့္ထိန္းေရးကို ၾကပ္မတ္ထိန္းသိမ္းေပးရန္၊</li>
                        <li>ေကာင္းမြန္ေသာ ေဆးကုသမႈပတ္ဝန္းက်င္ ျဖစ္ထြန္းေစရန္။</li>
                       
                    </ul>
                    @*<p>နာယကအဖြဲ႔သည္ လိုအပ္ပါက ေကာင္စီကို ျပင္ဆင္ဖြဲ႔စည္းႏိုင္သည္။</p>
                    <p>နာယကအဖြဲ႔သည္ ေကာင္စီဝင္မ်ားအနက္မွ ဥကၠဌတစ္ဦး၊ ဒုတိယဥကၠဌတစ္ဦး၊ အတြင္းေရးမွဴးတစ္ဦး၊ တြဲဖက္အတြင္းေရးမွဴးတစ္ဦးႏွင့္ ဘ႑ာေရးမွဴးတစ္ဦးတို႔ကို ေရြးခ်ယ္ထားၿပီးေသာ ေကာင္စီဝင္မ်ား၏ ဆႏၵမဲျဖင့္ ေရြးခ်ယ္တင္ေျမွာက္ေစရမည္။</p>
                    <p>နာယကအဖြဲ႔သည္ ေကာင္စီ၏ လုပ္ငန္းတာဝန္မ်ားကို ေဆာင္ရြက္ရန္ ေအာက္ပါပုဂၢိဳလ္မ်ားပါဝင္ေသာ အလုပ္အမႈေဆာင္အဖြ႔ဲကို ဖြဲ႕စည္းရမည္ </p>
                    <ul class="custom_ul">
                        <li>ေကာင္စီဥကၠဌ - ဥကၠဌ</li>
                        <li>ေကာင္စီဒုတိယဥကၠဌ	- ဒုတိယဥကၠဌ</li>
                        <li>ေကာင္စီဝင္ (၁၀) ဦး - အဖြဲ႔ဝင္မ်ား</li>
                        <li>ေကာင္စီ အတြင္းေရးမွဴး	- အတြင္းေရးမွဴး</li>
                        <li>ေကာင္စီ တြဲဖက္အတြင္းေရးမွဴး	- တြဲဖက္အတြင္းေရးမွဴး</li>
                        <li>ေကာင္စီဘ႑ာေရးမွဴး	- ဘ႑ာေရးမွဴး</li>
                        
                    </ul>*@
               
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">ေကာင္စီ၏တာဝန္ႏွင့္ လုပ္ပိုင္ခြင့္မ်ား</h3>
                <p> ေကာင္စီ၏ တာဝန္မ်ားမွာ ေအာက္ပါအတိုင္း ျဖစ္သည္ -</p>
                <ul class="custom_ul">
                    <li>ျပည္တြင္းျပည္ပရွိ ေဆးတကၠသိုလ္၊ ေဆးေကာလိပ္တစ္ခုုခုက ျဖစ္ေစ၊ ေဆးပညာအတြက္ ဖြဲ႔စည္းထားသည့္ အျခားအဖြဲ႔အစည္း တစ္ခုခုကျဖစ္ေစ အပ္ႏွင္းသည့္ ေဆးပညာဘြဲ႔မ်ားကို အသိအမွတ္ျပဳျခင္း၊ အသိအမွတ္ျပဳရန္ ျငင္းပယ္ျခင္း၊</li>
                    <li>ေကာင္စီက အသိအမွတ္ျပဳထားေသာ ေဆးပညာဘြဲ႔မ်ားကို အခါအားေလ်ာ္စြာ ထုတ္ျပန္ေၾကညာျခင္း၊</li>
                    <li>မွတ္ပံုတင္ဆရာဝန္စာရင္းႏွင့္ ေဆးကုသခြင့္လိုင္စင္ရ ဆရာဝန္စာရင္းမ်ားကို ျပဳစုထားရွိျခင္းႏွင့္ အခါအားေလ်ာ္စြာ ထုတ္ျပန္ျခင္း၊</li>
                    <li>ဆရာဝန္မ်ား၏ က်န္းမာေရးေစာင့္ေရွာက္မႈ အရည္အေသြးႏွင့္ အဆင့္အတန္းကို ထိန္းသိမ္းျမွင့္တင္ႏိုင္ရန္ ေလ့လာဆန္းစစ္ျခင္း၊ လိုအပ္သလို ေဆာင္ရြက္ျခင္း၊ အစိုးရဌာနအဖြဲ႔အစည္းမ်ား၊ ျပည္တြင္းျပည္ပမွ သက္ဆိုင္ရာအဖြဲ႔အစည္းမ်ားႏွင့္ ဆက္သြယ္ပူးေပါင္းေဆာင္ရြက္ျခင္း၊</li>
                    <li>ႏိုင္ငံေတာ္ႏွင့္ ပုဂၢလိကေဆးရံုမ်ား၊ ေဆးခန္းမ်ား၏ က်န္းမာေရးေစာင့္ေရွာက္မႈအဆင့္အတန္း ထိန္းသိမ္းျမွင့္တင္ရန္ႏွင့္ လံုျခံဳမႈရွိေစရန္ လိုအပ္ေသာ စံခ်ိန္စံညႊန္းသတ္မွတ္ျခင္း၊ ထုတ္ျပန္ျခင္း၊ ဆန္းစစ္ျခင္းႏွင့္ လုပ္ထံုးလုပ္နည္းမ်ားႏွင့္ အညီ ေဆာင္ရြက္ျခင္း၊ </li>
                    <li>ေဆးပညာသင္ၾကားမႈ အဆင့္အတန္းျမင့္မားေစေရးႏွင့္ အရည္အေသြးျပည့္ဝေသာ ေဆးပညာရွင္မ်ား ေပၚေပါက္ေစေရးတို႔အတြက္ တိုးတက္ေျပာင္းလဲေနေသာ ေဆးပညာသင္ၾကားေရးစနစ္မ်ားကို ေလ့လာသံုးသပ္၍ သက္ဆိုင္ရာတကၠသိုလ္မ်ား သင္ၾကားေရးဌာနမ်ားႏွင့္ ညိွႏႈိင္းေဆြးေႏြးျခင္း၊ အၾကံျပဳျခင္းႏွင့္ ပူးေပါင္းေဆာင္ရြက္ျခင္း၊</li>
                    <li>ႏိုင္ငံေတာ္၏ က်န္းမာေရးေစာင့္ေရွာက္မႈ လိုအပ္ခ်က္ႏွင့္ အညီ ဆရာဝန္မ်ား ေဆးပညာစဥ္ဆက္မျပတ္သင္ၾကားမႈ ရရွိေစေရးအတြက္ က်န္းမာေရးဝန္ႀကီးဌာန၊ ေဆးတကၠသိုလ္မ်ား၊ ေဆးပညာဆိုင္ရာ အသင္းအဖြဲ႔မ်ား ၊ ပညာရွင္အဖြဲ႔အစည္းမ်ားႏွင့္ ပူးေပါင္းေဆာင္ရြက္ျခင္း၊</li>
                    <li>က်န္းမာေရး ေစာင့္ေရွာက္မႈ အဆင့္အတန္းျမင့္မားေစေရးအတြက္ က်န္းမာေရးဝန္ႀကီးဌာနသို႔ အၾကံျပဳျခင္း၊</li>
                    <li>ဆရာဝန္မ်ားလိုက္နာေစာင့္ထိန္းရမည့္ က်င့္ဝတ္သိကၡာမ်ားကို သတ္မွတ္ေၾကညာျခင္း၊</li>
                    <li>ဆရာဝန္၏ က်င့္ဝတ္သိကၡာမ်ားကို လိုက္နာေစရန္ ၾကီးၾကပ္ကြပ္ကဲျခင္းႏွင့္ လိုက္နာေစာင့္ထိန္းရန္ ပ်က္ကြက္မႈမ်ားႏွင့္ စပ္လ်ဥ္းသည့္ တင္ျပခ်က္မ်ားကို  စံုစမ္းစစ္ေဆးျခင္းႏွင့္ လိုအပ္သလို အေရးယူေဆာင္ရြက္ျခင္း၊</li>
                    <li>ေဆးဝါးႏွင့္ေဆးပစၥည္းကိရိယာထုတ္လုပ္ျဖန္႔ျဖဴးေရာင္းခ်ျခင္း၊ ေဆးရံု၊ ေဆးေပးခန္းမ်ားတြင္ ေဆးႏွင့္ ေဆးပစၥည္းကိရိယာမ်ား သံုးစြဲျခင္း၊ သုေတသနျပဳျခင္းတို႔ႏွင့္ စပ္လ်ဥ္း၍ သက္ဆိုင္ရာ အဖြဲ႔အစည္းမ်ားအား ညွိႏႈိင္းေဆြးေႏြးျခင္း၊ အၾကံျပဳျခင္းႏွင့္ ပူးေပါင္းေဆာင္ရြက္ျခင္း၊</li>
                    <li>ေကာင္စီ၏ အစည္းအေဝးမ်ားတြင္ သက္ဆိုင္သည့္ ပညာရပ္ဆိုင္ရာ ဝါရင့္ပါေမာကၡမ်ားကို လိုအပ္ပါက ဖိတ္ၾကား၍ အၾကံဥာဏ္ေတာင္းခံျခင္း။</li>
                </ul>
                

            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
               
                 <h3 class="hhh h1"> ဆရာဝန္မွတ္ပံုတင္ျခင္း</h3>
                <p>ဆရာဝန္မွတ္ပံုတင္လက္မွတ္ရရွိလိုေသာ ႏိုင္ငံသားတစ္ဦးဦးသည္ ေအာက္ပါသတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ ေကာင္စီသို႔ ေလွ်ာက္ထားႏိုင္သည္ -</p>
                <ul class="custom_ul">
                    <li>ေကာင္စီက အသိအမွတ္ျပဳသည့္ ျပည္တြင္းေဆးတကၠသိုလ္တစ္ခုခုက အပ္ႏွင္းသည့္ အေျခခံေဆးပညာဘြဲ႔ ရရွိသူ၊</li>
                    <li>ေကာင္စီက အသိအမွတ္ျပဳသည့္ ျပည္ပေဆးတကၠသိုလ္တစ္ခုခုက ျဖစ္ေစ၊ ေဆးေကာလိပ္တစ္ခုခုက ျဖစ္ေစ အပ္ႏွင္းသည့္ အေျခခံေဆးပညာဘြဲ႔ရရွိသူ၊</li>
                    <li>ေကာင္စီက အသိအမွတ္ျပဳထားျခင္း မရွိသည့္ ျပည္ပေဆးတကၠသိုလ္တစ္ခုခုက ျဖစ္ေစ၊ ေဆးေကာလိပ္တစ္ခုခုက ျဖစ္ေစ အေျခခံေဆးပညာဘြဲ႔ရရွိၿပီး ေကာင္စီက က်င္းပျပဳလုပ္ေသာ ေဆးကုသခြင့္ လိုင္စင္စာေမးပြဲကုိ ေအာင္ျမင္ၿပီးသူ၊</li>
                    <li>ေလွ်ာက္ထားသည့္ ေလွ်ာက္လႊာကို သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ စိစစ္ၿပီး မွတ္ပံုတင္ေၾကးေပးသြင္းေစ၍ ဆရာဝန္မွတ္ပံုတင္လက္မွတ္ကို ထုတ္ေပးျခင္း သို႔မဟုတ္ ထုတ္ေပးရန္ ျငင္းပယ္ျခင္း</li>
                   
                </ul>
                <p>ေကာင္စီသည္ မွတ္ပံုတင္ဆရာဝန္တစ္ဦးဦးႏွင့္ ပတ္သက္၍ ေအာက္ပါအခ်က္တစ္ရပ္ရပ္ ေပၚေပါက္ေၾကာင္း စစ္ေဆးေတြ႔ရွိပါက မွတ္ပံုတင္ စာရင္းမွ ပယ္ဖ်က္ရမည္ -</p>
               
                   <p>(က) မူးယစ္ေဆးဝါးႏွင့္ စိတ္ကို ေျပာင္းလဲေစေသာ ေဆးဝါးသံုးစြဲေၾကာင္း ေပၚေပါက္ျခင္း၊</p>
                   <p>(ခ) ျပစ္မႈတစ္ရပ္ရပ္ျဖင့္ တရားရံုး၏ ျပစ္မႈထင္ရွားစီရင္ျခင္ကို ခံရၿပီး ယင္းျပစ္မႈသည္ ဆရာဝန္အျဖစ္ ဆက္လက္ထမ္းေဆာင္ရန္မသင့္ဟု ေကာင္စီက သတ္မွတ္ထားေသာ ျပစ္မႈျဖစ္ျခင္း၊</p>
                   <p>(ဂ) ဆရာဝန္တစ္ဦး၏ က်င့္ဝတ္သိကၡာပ်က္ကြက္သည္ဟု ေကာင္စီက စစ္ေဆးေတြ႕ရွိျခင္း။</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">ဘြဲ႕လြန္ဒီဂရီ အသိအမွတ္ျပဳျခင္း</h3>
                <ul class="custom_ul">
                    <li> ျပည္တြင္းျပည္ပ ေဆးတကၠသိုလ္တစ္ခုခုက အပ္ႏွင္းသည့္ ဘြဲ႔လြန္ေဆးပညာဘြဲ႔ရရွိသူသည္ ဘြဲ႔လြန္ဒီဂရီ အသိအမွတ္ျပဳႏိုင္ရန္ ေကာင္စီသို႔ သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ ေလွ်ာက္ထားႏို္င္သည္။</li>
                    <li>ေလွ်ာက္ထားသူမ်ားကို သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ စိစစ္ၿပီး မွတ္ပံုတင္ေၾကး ေပးသြင္းေစ၍ ဘြဲ႔လြန္ဒီဂရီရရွိေၾကာင္း မွတ္ပံုတင္ လက္မွတ္ကို ထုတ္ေပးျခင္း သို႔္မဟုတ္ ထုတ္ေပးရန္ျငင္းပယ္ျခင္း ျပဳႏိုင္သည္။ </li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1"> ေဆးကုသခြင့္လိုင္စင္</h3>
                <ul class="custom_ul">
                    <li>ႏိုင္ငံသားမွတ္ပံုတင္ ဆရာဝန္သည္ ေဆးကုသသည့္ လုပ္ငန္းကို လုပ္ကိုင္ေဆာင္ရြက္လိုပါက အေထြေထြေဆးကုသခြင့္ ရရွိရန္ သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ ေကာင္စီသို႔ ေလွ်ာက္ထားရမည္။ </li>
                    <li>ေလွ်ာက္ထားခ်က္ကို ရရွိသည့္အခါ အလုပ္အမႈေဆာင္အဖြဲ႔သို႔ စိစစ္ရန္ လႊဲေျပာင္းေပးရမည္။</li>
                    <li>ေလွ်ာက္ထားသည့္ ေလွ်ာက္လႊာကို စိစစ္ၿပီး လိုင္စင္ေၾကးႏွင့္ အျခားသတ္မွတ္ထားေသာ အခေၾကးေငြမ်ား ေပးသြင္းေစ၍ လိုအပ္ပါက အရည္အခ်င္း စစ္ေဆးျခင္း ျပဳ လုပ္ၿပီး အရည္အခ်င္းျပည့္မီလွ်င္ အေထြေထြေဆးကုသခြင့္ လိုင္စင္ကို ထုတ္ေပးရမည္။ အရည္အခ်င္းမျပည့္မီ ပါက လိုင္စင္ကို ထုတ္ေပးရန္ ျငင္းပယ္ ႏိုင္သည္။</li>
                    <li>အေျခခံေဆးပညာဘြဲ႔ႏွင့္ အလားတူ ေဆးပညာဘြဲ႔ရ ႏိုင္ငံျခားသားဆရာဝန္သည္ ကန္႔သတ္အေထြေထြေဆးကုသခြင့္ လိုင္စင္ရရွိရန္ သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ ေကာင္စီသို႔ ေလွ်ာက္ထားရမည္။</li>
                    <li>ေလွ်ာက္ထားသည့္ ေလွ်ာက္လႊာကို သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ စိစစ္ၿပီး လိုင္စင္ေၾကးႏွင့္ အျခားသတ္မွတ္ထားေသာ အခေၾကးေငြမ်ား ေပးသြင္းေစ၍ ကုသခြင့္ရွိေသာေနရာ၊ ေဒသႏွင့္ အခ်ိန္ကာလမ်ားကို ကန္႔သတ္လ်က္ ကန္႔သတ္အေထြေထြ ေဆးကုသခြင့္လိုင္စင္ကို ထုတ္ေပးျခင္း သို႔မဟုတ္ ထုတ္ေပးရန္ ျငင္းပယ္ျခင္းျပဳႏိုင္သည္။</li>
                    <li>အေထြေထြေဆးကုသခြင့္ လိုင္စင္ရရွိထားသည့္ မွတ္ပံုတင္ဆရာဝန္သည္ အထူးေဆးကုသခြင့္အတြက္ သတ္မွတ္ထားသည့္ အရည္အခ်င္းႏွင့္ ျပည့္စံုပါက အထူးေဆးကုသခြင့္လိုင္စင္ရရွိရန္ သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီေကာင္စီသို႔ ေလွ်ာက္ထားႏိုင္သည္။</li>
                    <li>ေလွ်ာက္ထားသည့္ ေလွ်ာက္လႊာကို စိစစ္ၿပီး လိုင္စင္ေၾကးႏွင့္ အျခားသတ္မွတ္ထားေသာ အခေၾကးေငြမ်ား ေပးသြင္းေစ၍ အထူးေဆးကုသခြင့္လိုင္စင္ကို ထုတ္ေပးျခင္း သို႔မဟုတ္ ထုတ္ေပးရန္ ျငင္းပယ္ျခင္းျပဳႏိုင္သည္။</li>
                    <li>ႏိုင္ငံျခားသား အထူးကုဆရာဝန္သည္ ျမန္မာႏိုင္ငံတြင္ေဆးကုသသည့္ လုပ္ငန္းကို လုပ္ကုိင္ေဆာင္ရြက္လိုပါက ကန္႔သတ္ အထူးေဆးကုသခြင့္္ လိုင္စင္ရရွိရန္ သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ ေကာင္စီသို႔ ေလွ်ာက္ထားရမည္။</li>
                    <li>ေလွ်ာက္ထားသည့္ ေလွ်ာက္လႊာကို စိစစ္ၿပီး လုိင္စင္ေၾကးႏွင့္ အျခားသတ္မွတ္ထားေသာ အခေၾကးေငြမ်ား ေပးသြင္းေစ၍ ကုသခြင့္ရွိေသာ ေဆးပညာ ဘာသာရပ္အမ်ိဳးအစား၊ ကုသခြင့္ရွိေသာ ေနရာ၊ ေဒသႏွင့္ အခ်ိန္ကာလမ်ားကို ကန္႔သတ္လ်က္ ကန္႔သတ္ အထူးေဆးကုသခြင့္ လိုင္စင္ကို ထုတ္ေပးျခင္း သို႔မဟုတ္ ထုတ္ေပးရန္ ျငင္းပယ္ျခင္း ျပဳႏိုင္သည္။</li>
                    <li>အေျခခံေဆးပညာဘြဲ႔မရရွိေသာ္လည္း ေဆးဘက္ဆိုင္ရာ ကြ်မ္းက်င္ဘြဲ႔တစ္ခုခုရရွိၿပီး သက္ဆိုင္ရာ ပညာရပ္အလိုက္ ကုသမႈေဆာင္ရြက္လိုသူသည္ ေဆးဘက္ဆိုင္ရာ ကြ်မ္းက်င္လိုင္စင္ကို သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ ေကာင္စီသို႔ ေလွ်ာက္ထားႏိုင္သည္။</li>
                    <li>ေလွ်ာက္ထားသည့္ ေလွ်ာက္လႊာကို စိစစ္ၿပီး လိုအပ္ပါက အရည္အခ်င္းစစ္ေဆးရန္၊ အရည္အခ်င္း ျပည့့္မီလွ်င္ လိုင္စင္ေၾကးႏွင့္ အျခားသတ္မွတ္ထားေသာ အခေၾကးေငြမ်ား ေပး သြင္းေစလ်က္ ကုသခြင့္ရွိသည့္ ပညာရပ္ဆိုင္ရာ နယ္ပယ္သတ္မွတ္၍ ေဆးဘက္ဆိုင္ရာ ကြ်မ္းက်င္လိုင္စင္ကို ထုတ္ေပးႏိုင္သည္။ အရည္အခ်င္းမျပည့္မီပါက လိုင္စင္ကို ထုတ္ေပးရန္ ျငင္းပယ္ရမည္။</li>
                    <li>ေဆးကုသခြင့္လိုင္စင္ရရွိသူသည္ လိုင္စင္သက္တမ္း ကုန္ဆံုးၿပီးေနာက္ မိမိ၏ ေဆးကုသသည့္ လုပ္ငန္းကို ဆက္လက္လုပ္ကိုင္လိုပါက သက္တမ္းတိုးျမွင့္ေပးရန္ လိုင္စင္သက္တမ္းမကုန္ဆံုးမီ သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ ေကာင္စီသို႔ ေလွ်ာက္ထားရမည္။ ေလွ်ာက္ထားဆဲ ကာလအတြင္း ယင္း၏ ေဆးကုသမႈ လုပ္ငန္းမ်ားသည္ တရားဝင္ေဆာင္ရြက္ ျခင္းဟု မွတ္ယူရမည္။</li>
                    <li>ေဆးကုသခြင့္ လုိင္စင္ သက္တမ္းတိုးျမွင့္ေပးရန္ ေလွ်ာက္ထားသည့္ ေလွ်ာက္လႊာကို သတ္မွတ္ခ်က္မ်ားႏွင့္ အညီ စိစစ္ၿပီး သက္တမ္းတိုးျမွင့္ေပးျခင္း သို႔မဟုတ္ သက္တမ္းတိုးျမွင့္ ေပးရန္ျငင္း ပယ္ျခင္း ျပဳႏိုင္သည္။</li>

                </ul>
                <p>ေဆးကုသခြင့္လိုင္စင္ရ ဆရာဝန္တစ္ဦးဦးႏွင့္ ပတ္သက္၍ ေအာက္ပါအခ်က္တစ္ရပ္ရပ္ေပၚ ေပါက္ေၾကာင္း စစ္ေဆးေတြ႔ရွိပါက ေဆးကုသခြင့္ လိုင္စင္ကို ပယ္ဖ်က္ျခင္း သို႔မဟုတ္  ကာလအကန္႔အသတ္ျဖင့္ ရုပ္သိမ္းျခင္း ျပဳႏိုင္သည္ -</p>
                <p>(က) ဆရာဝန္မွတ္ပံုတင္စာရင္းမွ ပယ္ဖ်က္ခံရျခင္း၊</p>
                <p>(ခ) စိတ္ပိုင္းဆိုင္ရာ သို႔မဟုတ္ ကိုယ္အဂၤါက်န္းမာၾကံ႔ခိုင္မႈမရွိ ျခင္းေၾကာင့္ ဆရာဝန္တစ္ဦး၏ လုပ္ငန္းတာဝန္မ်ားကို ေဆာင္ရြက္ႏိုင္စြမ္း မရွိျခင္း၊</p>
                <p>(ဂ) ဆရာဝန္တစ္ဦး၏ လုပ္ငန္းတာဝန္မ်ားကို ေပါ့ေလ်ာ့စြာ ေဆာင္ရြက္ျခင္း၊</p>
                <p>(ဃ) ဆရာဝန္တစ္ဦး၏ လိုက္နာရမည့္ က်င့္ဝတ္သိကၡာႏွင့္ အညီ လိုက္နာေစာင့္ထိန္းမႈမရွိျခင္း၊</p>
                <p>(င) ဆရာဝန္တစ္ဦး၏ အရည္အေသြးႏွင့္ အညီ လုပ္ေဆာင္ႏိုင္စြမ္း မရွိျခင္း၊ </p>
                <p>(စ) ေကာင္စီက သတ္မွတ္ေသာကာလအတြင္း လံုေလာက္ေသာ အေၾကာင္းျပခ်က္မရွိဘဲ ေဆးကုသခြင့္လိုင္စင္ သက္တမ္းတိုးျမွင့္ရန္ ပ်က္ကြက္ျခင္း၊</p>
                <p>(ဆ) ေကာင္စီက အသိအမွတ္မျပဳေသာ ဘြဲ႔၊ ဒီဂရီ၊ အဆင့္၊ ကြ်မ္းက်င္မႈဆိုင္ရာ ပညာရပ္မ်ားကို မိမိ၏ အမည္ႏွင့္ ယွဥ္တြဲ၍ ေဖာ္ျပျခင္း။</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">တားျမစ္ခ်က္ႏွင့္ ျပစ္ဒဏ္မ်ား</h3>
                <ul class="custom_ul">
                    <li>မည္သူမွ် ေဆးကုသခြင့္လိုင္စင္မရွိဘဲ ေဆးကုသျခင္း မျပဳရ။</li>
                    <li>ေဆးကုသခြင့္လိုင္စင္ရသူ မည္သူမွ် ေဆးကုသည့္လုပ္ငန္း ေဆာင္ရြက္ရာတြင္ သက္ဆိုင္ရာ ေဆးကုသသည့္ လုပ္ငန္းအလိုက္ ကြ်မ္းက်င္မႈရွိေၾကာင္း သက္ဆိုင္ရာဌာန၊ အဖြဲ႔အစည္းက ထုတ္ေပးသည့္ လိုင္စင္၊ မွတ္ပံုတင္လက္မွတ္၊ ခြင့္ျပဳခ်က္၊ သင္တန္းဆင္းလက္မွတ္ သို႔မဟုတ္ အေထာက္အထား ရရွိသူမွအပ အျခားသူကို တာဝန္ေပးေဆာင္ရြက္ေစ ျခင္းမျပဳရ။</li>
                    <li>
                        ေဆးကုသခြင့္လိုင္စင္ရသူ မည္သူမွ် -
                        <p>(က) ေကာင္စီကထုတ္ေပးသည့္ လိုင္စင္ပါ ခြင့္ျပဳသည့္ ေဆးကုသ ျခင္း အမ်ိဳးအစားမွအပ အျခားေဆးကုသျခင္းလုပ္ငန္း ေဆာင္ရြက္ျခင္း မျပဳရ။</p>
                        <p>(ခ) ေကာင္စီကထုတ္ေပးသည့္ လိုင္စင္ပါ ကန္႔သတ္ခ်က္မ်ားကို က်ဴးလြန္ေဖာက္ဖ်က္ ေဆာင္ရြက္ျခင္း မျပဳရ။</p>
                    </li>
                    <li>ေဆးကုသခြင့္ လိုင္စင္ရသူ မည္သူမွ် ေကာင္စီက အသိအမွတ္မျပဳေသာ ဘြဲ႔၊ ဒီဂရီ၊ အဆင့္၊ ကြ်မ္းက်င္မႈဆိုင္ရာ ပညာရပ္မ်ားကို မိမိ၏အမည္ႏွင့္ ယွဥ္တြဲ၍ ေဖာ္ျပျခင္း မျပဳရ။</li>
                    <li>မည္သူမဆို ပုဒ္မ ၅၄ ပါတားျမစ္ခ်က္ကို ေဖာက္ဖ်က္က်ဴးလြန္ေၾကာင္း ျပစ္မႈထင္ရွားစီရင္ျခင္း ခံရလွ်င္ ထုိသူကို အနည္းဆံုးတစ္ႏွစ္မွ အမ်ားဆံုးငါးႏွစ္အထိ ေထာင္ဒဏ္ခ်မွတ္ရမည့္ျပင္ ေငြဒဏ္လည္း ခ်မွတ္ႏိုင္သည္။</li>
                    <li>မည္သည့္ေဆးကုသခြင့္လိုင္စင္ရ ဆရာဝန္မဆို ပုဒ္မ ၅၅ ပါတားျမစ္ခ်က္ကို ေဖာက္ဖ်က္က်ဴးလြန္ေၾကာင္း ျပစ္မႈထင္ရွားစီရင္ျခင္းခံရလွ်င္ ထိုသူကို က်ပ္ငါးသိန္းေအာက္ မေလ်ာ့ေသာ ေငြဒဏ္ခ်မွတ္ရမည္။</li>
                    <li>ေဆးကုသခြင့္လိုင္စင္ရရွိသူ မည္သူမဆိုပုဒ္မ ၅၆ ပါတားျမစ္ခ်က္ကို ေဖာက္ဖ်က္က်ဴးလြန္ေၾကာင္း ျပစ္မႈထင္ရွားစီရင္ျခင္းခံရလွ်င္ ထိုသူကို သံုးႏွစ္အထိ ေထာင္ဒဏ္ျဖစ္ေစ၊ ေငြဒဏ္ျဖစ္ေစ၊ ဒဏ္ႏွစ္ရပ္ လံုးျဖစ္ေစ ခ်မွတ္ရမည္။</li>
                    <li>ေဆးကုသခြင့္လိုင္စင္ရရွိသူ မည္သူမဆို ပုဒ္မ ၅၇ ပါတားျမစ္ခ်က္ကို ေဖာက္ဖ်က္က်ဴးလြန္ေၾကာင္း ျပစ္မႈထင္ရွားစီရင္ခံျခင္းခံရလွ်င္ ထိုသူကို ေျခာက္လအထိ ေထာင္ဒဏ္ျဖစ္ေစ၊ ေငြဒဏ္ျဖစ္ေစ၊ ခ်မွတ္ရမည္။</li>
                </ul>
               
             </div>
        </div>
        <hr />
    </div>
</section>



<section>
    <div class="container">
        <div class="row m0 emmergencyContact">
            <div class="col-lg-6 contact_Col">Email us at info@myanmarmedicalcouncil.org.mm</div>
            <div class="col-lg-6 contact_Col">Questions? Give us a call at +95-9-456844445 </div>
        </div>
    </div>
</section>
@Html.Partial("_footer")