<section class="row page-header">
    <div class="container">
        <h4>About Myanmar Medical Council</h4>
    </div>
</section>

<section class="row content_about page-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h6 class="label label-defatult">who we are</h6>
                <h3 class="team_page_title">Foreword</h3>
               
<p>
                    Myanmar Medical Council is a non-governmental independent body which is responsible not only for registration and licensing of medical practitioners, but also functions as a regulatory body, overseeing good medical practice, ethics, patient safety, accreditation of medical schools and institutions and networking with other medical councils of ASEAN  member countries and beyond.
                </p>
                <p>
                    Patients and society at large, expect doctors to be responsible and accountable to their patients, both to their individual needs as well as to the larger community. Much trust is therefore endowed upon doctors to perform their best under any circumstances.
                </p>

                <p>
                    Myanmar Medical Council can only set down guidelines and code of conduct. It is a regulatory body acting as a beacon to guide medical practitioners and professionals not to stray from the tenet "do no harm". It is up to our doctors to ensure that professionalism, altruism, ethics and integrity will always be upheld.
                </p>
                <p>
                    The Council is fully aware of changing trends in the era of rapid advances in medicine; especially the technology and biotechnology aspect in diagnosis and treatment of patients with diverse diseases and conditions influenced by genetics and environmental factors. Also, the changing social norms taking place rapidly in Myanmar as well as in the rest of the world are taken fully into consideration.
                </p>
            </div>
            <div class="col-sm-6">
                <h6 class="label label-defatult">history</h6>
               
                    <h3 class="team_page_title">BRIEF HISTORY</h3>
                    <p>Burma Medical Council, as it was known then, was formed under the Burma Medical Council Act, 1957. This Act was subsequently repealed and the Myanmar Medical Council Law was drafted and came into force on January 14, 2000.</p>
                    <p>As the Council bears in mind, that Myanmar Medical Council Law needs to be modified and amended to be relevant, appropriate and commensurate with the changes taking place and therefore, a modification of the Myanmar Medical Council Law was approved on April 9, 2015. </p>
                <p>
                    Myanmar Medical Councial had its origins in 1915, and the Burma Medical Council as it was known then, was formed under the Burma Medical Council Act 1957.
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-6">
                <img src="~/Content/images/vision.png" />
                <h3 class="team_page_title">Vision</h3>
                <p>To ensure the highest standard of medical ethics and good medical practice of Myanmar medical practitioners in the best interest of the patients and society as a whole.</p>
            </div>
            <div class="col-sm-6">
                <img src="~/Content/images/mission.png" />
                <h3 class="team_page_title">Mission</h3>
                <p>To protect, promote and maintain the health and safety of patients and the general public by well qualified doctors, fostering good medical practice, maintaining high standards of professional ethics, continuing medical education activities and dealing firmly and fairly with doctors who fail to comply and observe the medical council law and ethics of the medical practitioner.</p>
            </div>
          
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="~/Content/images/function.png" />
                <h3 class="team_page_title">Functions</h3>
                <ul>
                    <li><p>Recognition of medical degrees conferred by local or foreign universities/institutions/schools or any other organizations.</p></li>
                    <li><p>Registration of medical practitioners</p></li>
                    <li><p>Issuance of licence to practice for registered medical practitioners</p></li>
                    <li><p>Computerized compilation, maintenance and updating of list of registered and licensed medical practitoners.</p></li>
                    <li><p>Provision of Certificate of Good Standing as and when necessary to the approprate authorities for training, education and employment of registered medical practitioners</p></li>
                    <li><p>Recognition and accreditation of medical universities</p></li>
                    <li><p>Promulgation of good medical practice</p></li>
                    <li><p>Investigation and implementation of appropriate action in a fair manner in cases of misconduct and violation of ethics of medical practitioners</p></li>
                    <li><p>Submission of suggestions to Minister of Health and Sports on matters relating to conduct of medical practice in Myanmar</p></li>
                    <li><p>Communication and cooperation with international, regional and local government institutions on matters related to protection, promotion and maintenance of the health and Safety of the public in general</p></li>
                </ul>
            </div>
        </div>
        <hr/>
        <div class="row">
      
            <div class="col-sm-12">
                <h3 class="team_page_title">Patrons and President</h3>
                @*<p class="team_page_para about_var"></p>*@

                <div class="row">
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <img src="~/Content/images/orgs/minister.jpg" alt="" class="img-responsive">
                        <h4>Dr. Myint Htwe, Union Minister, Ministry of Health and Sports</h4>
                        <h6>Patron</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <img src="~/Content/images/orgs/theinnyunt.jpg" alt="" class="img-responsive">
                        <h4>Prof. U Thein Nyunt</h4>
                        <h6>Patron</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <img src="~/Content/images/orgs/maungmaungwint.jpg" alt="" class="img-responsive">
                        <h4>Prof. U Maung Maung Wint</h4>
                        <h6>Patron</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <img src="~/Content/images/orgs/president.jpg" alt="" class="img-responsive">
                        <h4>Prof. Samuel Kyaw Hla</h4>
                        <h6>President</h6>
                    </div>
                </div>
            </div>
        </div>

        <div class="row how-fund-help-children">
            <h4><p>To ensure the highest standard of medical ethics and good medical practice of Myanmar medical practitioners in the best interest of the patients and society as a whole.</p></h4>
          
        </div>
    </div>
</section>
@Html.Partial("_footer")
