    <section class="row featured_news">
        <div class="item">
            <img src="~/Content/images/featured-slider2.jpg" alt="">
            @*<div class="row caption m0">
                <div class="container">
                    <div class="volunteer_summery_box col-lg-6 col-md-10">
                        <div class="col-lg-3">
                            <div class="logo pull-left">
                                <img src="~/Content/~/Content/images/logo.png" style="width:90px;" />

                            </div>
                        </div>
                        <div  class="col-lg-9">
                            <h6 class="label label-default white">What are we doing?</h6>
                            <h3 class="news-title"><a href="single.html">TO ENSURE THE HIGHEST STANDARD OF MEDICAL ETHICS AND GOOD MEDICAL PRACTICE OF MYANMAR MEDICAL PRACTITIONERS</a></h3>
                            <p>IN THE BEST INTEREST OF THE PATIENTS AND SOCIETY AS A WHOLE.</p>
                     
                        </div>
                    </div>
                    
                </div>
            </div>*@
       </div>
        <div class="item">
            <img src="~/Content/images/featured-slider2.jpg" alt="">
            <div class="row caption m0">
                <div class="container">
                    <div class="volunteer_summery_box col-lg-5 col-md-10">
                        <h6 class="label label-default white">how you could help</h6>
                        <h3 class="news-title"><a href="single.html">TO PROTECT, PROMOTE AND MAINTAIN THE HEALTH AND SAFETY OF PATIENTS AND THE GENERAL PUBLIC BY WELL QUALIFIED DOCTORS</a></h3>
                        <p>fostering good medical practice, maintaining high standards of professional ethics</p>
                        <a href="single.html" class="btn btn-primary">learn more</a>
                    </div>
                </div>
            </div>
        </div>
        
    </section>

        <section class="how_help2 row">
            <div class="col-md-4 help-process2">
                <div class="media">
                    <div class="media-left"><span><img src="~/Content/images/info.png" alt=""></span></div>
                    <div class="media-body">
                        <a asp-controller="Home" asp-action="About"><h5>Get information</h5></a>
                            <p>Learn more about the Myanmar Medical Council.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 help-process2">
                <div class="media">
                    <div class="media-left"><span><img src="~/Content/images/notepad.png" alt=""></span></div>
                    <div class="media-body">
                        <a asp-controller="Information" asp-action="Registration"><h5>Apply registration</h5></a>
                        <p>Learn more about our registration and licensing process</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 help-process2">
                <div class="media">
                    <div class="media-left"><span><img src="~/Content/images/news.png" alt=""></span></div>
                    <div class="media-body">
                        <h5>See latest news</h5>
                        <p>You are invited to discover our latest news</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="row our_causes">
            <div class="container">
                <div class="row sectionTitle text-center">
                    <h6 class="label label-default">Our Vision</h6>
                    <h3>TO ENSURE THE HIGHEST STANDARD OF MEDICAL ETHICS AND GOOD MEDICAL PRACTICE OF MYANMAR MEDICAL PRACTITIONERS IN THE BEST INTEREST OF THE PATIENTS AND SOCIETY AS A WHOLE</h3>
                </div>

                <div class="row">
                    <div class="col-sm-12 featured_recent_cause">
                        <div class="row inner m0">
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="cause_imgs">
                                        <div class="item"><img src="~/Content/images/president_message.jpg" alt=""></div>
                                        <div class="item"><img src="~/Content/images/president_message.jpg" alt=""></div>
                                        <div class="item"><img src="~/Content/images/president_message.jpg" alt=""></div>
                                    </div>
                                </div>
                            </div>
                            <div class="event_box featured_event_box col-lg-4">
                                <div class="event_meta row m0">
                                    <div class="label label-default pull-left">featured</div>
                                    @*<div class="pull-right days_left">193 days left</div>*@
                                </div>
                                <h4 class="event_link"><a href="single-event.html">Foreword</a></h4>
                                <p>Myanmar Medical Council is a non-governmental independent body which is responsible not only for registration and licensing of medical practitioners....</p>

                                <div class="row fund_raises m0">
                                    <div class="pull-left raised amount_box">
                                        <h6>Total Registered</h6>
                                        <h3>40,000 +</h3>
                                    </div>
                                    <div class="pull-left goal amount_box">
                                        <h6>Total Licenses</h6>
                                        <h3>40,000 +</h3>
                                    </div>
                                </div>
                                <div class="row m0 text-center">
                                    <a asp-controller="Home" asp-action ="About" class="btn btn-primary">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-sm-4 recent_cause">
                        <div class="row m0 inner">
                            <img src="http://placehold.it/360x223" alt="">
                            <div class="row m0 cause_desc">
                                <h5>Get information</h5>
                                <p>We provide information for new registration, licensing and renewing.</p>
                                <a href="#donate_box" class="btn-primary btn-outline">view now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 recent_cause">
                        <div class="row m0 inner">
                            <img src="http://placehold.it/360x223" alt="">
                            <div class="row m0 cause_desc">
                                <h5>Recognition and Accredition</h5>
                                <p>Learn about the recognition procedures and steps. Getting know the requirements now.</p>
                                <a href="#donate_box" class="btn-primary btn-outline">view now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 recent_cause">
                        <div class="row m0 inner">
                            <img src="http://placehold.it/360x223" alt="">
                            <div class="row m0 cause_desc">
                                <h5>Arbritation and Mediation</h5>
                                <p>Learn about allegation process and taking action as necessary in medico-legal issues related with ethics and professional misconduct.</p>
                                <a href="#donate_box" class="btn-primary btn-outline">view now</a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </section>

        <section class="sponsor_banner text-center style2" style="padding:20px 0 20px 0;">
            <div class="container">
         
                        <div class="sectionTitle">
                            <h3>OUR MISSION</h3>
                        </div>
                        <p>To protect, promote and maintain the health and safety of patients and the general public by well qualified doctors, fostering good medical practice, maintaining high standards of professional ethics, continuing medical education activities and dealing firmly and fairly with doctors who fail to comply and observe the medical council law and ethics of the medical practitioner.</p>
                    
               
            </div>
        </section>

        <section class="row upcoming_recent_events style2">
            <div class="container">
                <div class="row sectionTitle text-center">
                    <h6 class="label label-default">NEWS OF MEDICAL COUNCILS</h6>
                    <h3>NEWS &amp; EVENTS AT MEDICAL COUNCIL</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 upcoming_events">
                        <div class="row event_cover_photo">
                            <img src="~/Content/images/ec_meeting_2016.jpg" alt="" class="img-responsive">
                            <div class="upcoming_label label">latest event</div>
                            <h6 class="event_time_loc">
                               
                                <span class="date_time">YEAR 2016</span>
                                <span class="loc">MMC, YGN</span>
                            </h6>
                        </div>
                        <h4 class="event_title"><a href="single-event.html">Myanmar Medical Council Executive Committee Meeting</a></h4>
                        <p class="event_summery">Venue: Myanmar Medical Council</p>
                    </div>
                    <div class="col-sm-6 col-md-3 upcoming_events">
                        <div class="row event_cover_photo">
                            <img src="~/Content/images/ec_meeting_2016_1.jpg" alt="" class="img-responsive">
                            <h6 class="event_time_loc">
                                <span class="date_time">YEAR 2016</span>
                                <span class="loc">MMC, YGN</span>
                            </h6>
                        </div>
                        <h5 class="event_title"><a href="single-event.html">Myanmar Medical Council Executive Committee Meeting</a></h5>
                    </div>
                    <div class="col-sm-6 col-md-3 upcoming_events">
                        <div class="row event_cover_photo">
                            <img src="~/Content/images/ec_meeting_2016_2.jpg" alt="" class="img-responsive">
                            <h6 class="event_time_loc">
                                <span class="date_time">YEAR 2016</span>
                                <span class="loc">MMC, YGN</span>
                            </h6>
                        </div>
                        <h5 class="event_title"><a href="single-event.html">Myanmar Medical Council Executive Committee Meeting</a></h5>
                    </div>
                    <div class="col-sm-6 col-md-3 upcoming_events">
                        <div class="row event_cover_photo">
                            <img src="~/Content/images/ec_meeting_2016_3.jpg" alt="" class="img-responsive">
                            <h6 class="event_time_loc">
                                <span class="date_time">MAY 26, 2015 AT MyMC</span>
                            </h6>
                        </div>
                        <h5 class="event_title"><a href="single-event.html">ASEAN MEDICAL COUNCIL MEETING</a></h5>
                    </div>
                   
                </div>
            </div>
        </section>


      
        @*<section class="row">
            <div class="container">
                <div class="row sectionTitle text-center">
                    <h6 class="label label-default">REPORTS AND PUBLICATIONS OF MEDICAL COUNCIL</h6>
                    <h3>LATEST CIRCULATION</h3>
                </div>
                <div class="row">
                    <div class="latest-post col-md-3 col-sm-6">
                        <div class="row m0 featured_cont">
                            <img src="~/Content/images/ethicsbook.jpg" alt="" class="img-responsive">
                           
                        </div>
                        <h5 class="post-title"><a href="#">Medical Ethics for Medical Profession</a></h5>
                        <h6 class="post-meta"><a href="#">July 2003</a></h6>
                        <div class="post-excerpts row m0">Myanmar Medical Council</div>
                        <a href="single.html" class="btn-primary btn-outline">Download</a>
                    </div>
                  
                  
                </div>
            </div>
        </section>*@

     <section>
    <div class="container">
        <div class="row m0 emmergencyContact">
            <div class="col-lg-6 contact_Col">Email us at info@myanmarmedicalcouncil.org.mm</div>
            <div class="col-lg-6 contact_Col">Questions? Give us a call at +95-9-456844445 </div>
        </div>
    </div>
</section>

        @Html.Partial("_footer")


    <!--Donate Form-->
    <form action="#" method="get" class="row m0 donate_form mfp-hide" id="donate_box">
        <h3>ENTER YOUR DONATION AMOUNT</h3>

        <input type="radio" name="donate-amount" id="donate-amount01" value="10">
        <label for="donate-amount01">
            <strong>DONATE <span>$10</span></strong><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ips tum sed, suscipit sit amet arcu. Ut ut finibus tortor
        </label>

        <input type="radio" name="donate-amount" id="donate-amount02" value="25">
        <label for="donate-amount02">
            <strong>DONATE <span>$10</span></strong><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ips tum sed, suscipit sit amet arcu. Ut ut finibus tortor
        </label>

        <input type="radio" name="donate-amount" id="donate-amount03" value="100">
        <label for="donate-amount03">
            <strong>DONATE <span>$10</span></strong><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ips tum sed, suscipit sit amet arcu. Ut ut finibus tortor
        </label>

        <input type="radio" name="donate-amount" id="donate-amount04" value="500">
        <label for="donate-amount04">
            <strong>DONATE <span>$10</span></strong><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ips tum sed, suscipit sit amet arcu. Ut ut finibus tortor
        </label>

        <h5>ENTER CUSTOM AMOUNT</h5>

        <div class="input-group">
            <span class="input-group-addon left">$</span>
            <input type="number" class="form-control" name="donate-amount">
            <span class="input-group-addon right">
                <button type="submit" class="btn-primary">donate now</button>
            </span>
        </div>
    </form>

   
    <script src="~/Content/vendors/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/vendors/isotope/isotope.min.js"></script>
    <!--Theme Script-->
    <script src="~/Content/js/theme.js"></script>
