<section class="row page-header">
    <div class="container">
        <h4>Executive Committee Members</h4>
    </div>
</section>

<section class="row team-content page-content">
    <div class="container">
        <div class="row team_members_row">
           
            <div class="col-sm-12">
                <h3 class="team_page_title">Members of Executive Committee</h3>
                <p class="team_page_para">The following are members of executive committe of Myanmar Medical Coucil nominated at 2016.</p>

                <div class="row">
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        @*<img src="http://themedesigner.in.dimgx.net/demo/Helping-Hands/images/team/2.jpg" alt="" class="img-responsive">*@
                        <h4>Prof. Samuel Kyaw Hla</h4>
                        <h6>President</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                       
                        <h4>Prof. Khin Maung Aye</h4>
                        <h6>Vice President</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Director General</h4>
                        <h6>Department of Medical Care, MoHS</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Director General</h4>
                        <h6>Department of Human Resources for Health, MoHS</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Director General</h4>
                        <h6>Department of Medical Research, MoHS</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Rector</h4>
                        <h6>University of Medicine (1)</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Rector</h4>
                        <h6>University of Medicine (2)</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>President</h4>
                        <h6>Myanmar Academy of Medical Science</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>President</h4>
                        <h6>Myanmar Medical Association</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Prof. Mya Thein Han</h4>
                        <h6>Executive Committee Member</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Prof. Aye Maung Han</h4>
                        <h6>Executive Committee Member</h6>
                       
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Prof. Nyunt Thein</h4>
                        <h6>Executive Committee Member</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Prof. Tin Nyunt</h4>
                        <h6>Treasurer</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Prof. Kyi Kyi Thinn</h4>
                        <h6>Secretary</h6>
                    </div>
                    <div class="col-xs-3 col-sm-4 col-md-3 team_member">
                        <h4>Dr. Wai Myint</h4>
                        <h6>Joint-Secretary</h6>
                    </div>

                </div>
            </div>
        </div>
        </div>
</section>
@Html.Partial("_footer")
