<section class="row page-header">
    <div class="container">
        <h4>Minimal Entry Requirements</h4>
    </div>
</section>

<section style="margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">General Information</h3>
                <h5 class="hhh h3">Getting to know about our accreditation process for medical practitioner</h5>
                <div class="desc row m0">
                    <p>The Myanmar Medical Council, with its inherent powers established under the Medical Act 1971, is responsible for recognising medical schools for the purpose of licensing their graduates for practice in Myanmar pursuant to section 12(2) as follows:</p>
                    <p>Under the statute, fresh graduates need to undergo a period of internship training of not less than a year. Upon full registration, they are compelled by law to serve a period of not less than three years within public health services. For that purpose, the law only allows graduates from recognised medical training institutions for registration. Graduates from non-recognised medical schools, on the other hand, need to sit and pass medical qualifying examination to be eligible for registration.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">Selection for Admission</h3>
                <h5 class="hhh h3">This section explains about role of Myanmar Medical Council</h5>
                <div class="desc row m0">
                    <p>The Myanmar Medical Council, with its inherent powers established under the Medical Act 1971, is responsible for recognising medical schools for the purpose of licensing their graduates for practice in Myanmar pursuant to section 12(2) as follows:</p>
                    <p>Under the statute, fresh graduates need to undergo a period of internship training of not less than a year. Upon full registration, they are compelled by law to serve a period of not less than three years within public health services. For that purpose, the law only allows graduates from recognised medical training institutions for registration. Graduates from non-recognised medical schools, on the other hand, need to sit and pass medical qualifying examination to be eligible for registration.</p>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">

                <h3 class="hhh h1">Declaration for Admission</h3>

                <p>It is the responsibility of the medical school to ensure that there are no particular circumstances that will impact upon an applicant's fitness to practise upon graduation</p>
                <p>The applicants shall declare if they have:</p>

                <div class="media">

                    <p><span class="glyphicon glyphicon-check"></span> been found guilty of any criminal offence(s)</p>
                    <p><span class="glyphicon glyphicon-check"></span> serious physical or mental illness; and/or</p>
                    <p><span class="glyphicon glyphicon-check"></span> serious communicable disease(s)</p>
                </div>
                <p>
                    Any failure to declare information that has a material influence on a student's fitness to practise may lead to the termination of their medical course, as honesty, integrity
                and good health are essential attributes of a doctor and by extension, the medical student.</p>
          

            </div>

        </div>



        <hr />
        <div class="row">
            <div class="col-md-12">
                <h3 class="hhh h1">Academic Requirements and Equalvalents</h3>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/GMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">General Medical Practitioner</h5>
                        <p>A national registered medical doctor, desirous of performing medical practice shall apply to the Council to obtain the General Medical Practitioner licence in accordance with the regulations.</p>
                    </div>
                </div>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/SMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Specialist Medical Practitioner</h5>
                        <p>A national registered medical doctor, who has obtained the General Medical Practitioner License, may apply to the Council, in accordance with the stipulations to obtain Special Medical Practitioner licence if adequate with the qualification prescribe the special medical practice.</p>
                    </div>
                </div>
                <div class="media whyNeed">
                    <div class="media-left">
                        <i><img src="~/Content/images/LMP.png" /></i>
                    </div>
                    <div class="media-body">
                        <h5 class="hhh h3">Limited Medical Practitioner</h5>
                        <p>A foreign medical practitioner who has obtained the basic medical science degree and similar medical degree shall apply to the Council in accordance with the stipulations, to obtain the Limited General Medical Practitioner License.</p>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row m0 emmergencyContact">
            <div class="col-lg-6 contact_Col">Email us at info@myanmarmedicalcouncil.org.mm</div>
            <div class="col-lg-6 contact_Col">Questions? Give us a call at +95-9-456844445 </div>
        </div>
    </div>
</section>
@Html.Partial("_footer")