<section class="row page-header">
    <div class="container">
        <h4>List of Medical Universities</h4>
    </div>
</section>

<section class="row">
    <div class="container">
        <div class="row">
            <div class="col-md-12"><h3 class="team_page_title">Recognised Qualifications</h3></div>

            <div class="col-sm-6">
                <h3 class="hhh h3">Postgraduate</h3>
                <ul>
                    <li><p>Diploma</p></li>
                    <li><p>Master of Medical Science (M.Med.Sc)</p></li>
                    <li><p>PhD</p></li>
                    <li><p>Doctor of Medical Science (Dr.Med.Sc)</p></li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 class="hhh h3">Basic</h3>
                <ul>
                    <li><p>Bachelor of Medicine, Bachelor of Surgery (MBBS)</p></li>
                </ul>
            </div>
        </div>
            <hr/>
        
        <div class="col-sm-4">
            <div class="row m0 sideNav">
                <h4>Medical Universities</h4>
                <ul class="nav">
                    <li><a href="#um1">University of Medicine I</a></li>
                    <li><a href="#umm">University of Medicine, Mandalay</a></li>
                    <li><a href="#um2">University of Medicine II</a></li>
                    <li><a href="#ummg">Univsersity of Medicine, Magway</a></li>
                    <li><a href="#umtg">University of Medicine, Taunggyi</a></li>
                    <li><a href="#dsma">Defence Services Medical Academy</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-8">
            <h3 class="hhh h1">Recognized Medical Universities</h3>
            <div class="row">
                <div class="col-md-12">
                    <p>All medical students who have been trained by the following universities are eligible to apply for medical practitioner licence.</p>
                </div>
            </div>

            <div class="row" id="um1">
                <div class="col-sm-12 cause-item list-item environment">
                    <div class="images_row pull-left">
                        <img src="~/Content/images/um1.jpg" alt="">
                    </div>
                    <div class="cause_excepts pull-left">
                        <h4 class="cuase_title"><a href="single-cause.html">University of Medicine (1)</a></h4>
                        <p>The University of Medicine (1), Yangon is the oldest and most prestigious medical school in Myanmar. </p><br />
                        <a href="http://www.um1ygn.edu.mm/" target="_blank" class="btn btn-primary btn-outline dark"><span class="glyphicon glyphicon-link"></span> See more</a>

                    </div>

                </div>


            </div>
           
            <div class="row" id="umm">
                <div class="col-sm-12 cause-item list-item environment">
                    <div class="images_row pull-left">
                        <img src="~/Content/images/umm.jpg" alt="">
                    </div>
                    <div class="cause_excepts pull-left">
                        <h4 class="cuase_title"><a href="single-cause.html">University of Medicine, Mandalay</a></h4>
                        <p>The University of Medicine, Mandalay was founded on the first of April 1954 as a Branch Faculty of Medicine affiliated to the University of Yangon.</p><br />
                        <a href="single-event.html" class="btn btn-primary btn-outline dark"><span class="glyphicon glyphicon-link"></span> See more</a>

                    </div>

                </div>
            </div>
             <div class="row" id="um2">
                <div class="col-sm-12 cause-item list-item environment">
                    <div class="images_row pull-left">
                        <img src="~/Content/images/um2.jpg" alt="">
                    </div>
                    <div class="cause_excepts pull-left">
                        <h4 class="cuase_title"><a href="single-cause.html">University of Medicine (2)</a></h4>
                        <p>University of Medicine 2, Yangon was established as Medical College 2 in Mingalardon Township on July 15 1963.</p><br />
                        <a href="http://www.um2ygn.gov.mm/" target="_blank" class="btn btn-primary btn-outline dark"><span class="glyphicon glyphicon-link"></span> See more</a>


                    </div>

                </div>


            </div>
           
            <div class="row" id="ummg">
                <div class="col-sm-12 cause-item list-item environment">
                    <div class="images_row pull-left">
                        <img src="~/Content/images/umg.jpg" alt="">
                    </div>
                    <div class="cause_excepts pull-left">
                        <h4 class="cuase_title"><a href="single-cause.html">Univsersity of Medicine, Magway</a></h4>
                        <p>Recognition of the University of Medicine Magway was granted on 14th December 2000 by the government.</p><br />
                       <a href="http://www.ummg.gov.mm/" target="_blank" class="btn btn-primary btn-outline dark"><span class="glyphicon glyphicon-link"></span> See more</a>

                    </div>

                </div>
            </div>
            <div class="row" id="umtg">
                <div class="col-sm-12 cause-item list-item environment">
                    <div class="images_row pull-left">
                        <img src="~/Content/images/umtg.jpg" alt="">
                    </div>
                    <div class="cause_excepts pull-left">
                        <h4 class="cuase_title"><a href="single-cause.html">University of Medicine, Taunggyi</a></h4>
                        <p>Established in 2015 and located in Taunggyi, Shan State. It offers an M.B.,B.S degree program.</p><br />
                        <a href="https://en.wikipedia.org/wiki/University_of_Medicine,_Taunggyi" class="btn btn-primary btn-outline dark"><span class="glyphicon glyphicon-link"></span> See more</a>


                    </div>

                </div>
            </div>
            <div class="row" id="dsma">
                <div class="col-sm-12 cause-item list-item environment">
                    <div class="images_row pull-left">
                        <img src="~/Content/images/dsma.jpg" alt="">
                    </div>
                    <div class="cause_excepts pull-left">
                        <h4 class="cuase_title"><a href="single-cause.html">Defence Services Medical Academy</a></h4>
                        <p>The DSMA was founded in 1992 as the Defence Services Institute of Medicine (DSIM) to develop physicians to serve in the Tatmadaw Myanmar Armed Forces.</p><br />
                        <a href="https://en.wikipedia.org/wiki/Defence_Services_Medical_Academy" class="btn btn-primary btn-outline dark"><span class="glyphicon glyphicon-link"></span> See more</a>


                    </div>

                </div>
            </div>
        </div>
       
    </div>

</section>
<section>
    <div class="container">
        <div class="row m0 emmergencyContact">
            <div class="col-lg-6 contact_Col">Email us at info@myanmarmedicalcouncil.org.mm</div>
            <div class="col-lg-6 contact_Col">Questions? Give us a call at +95-9-456844445 </div>
        </div>
    </div>


</section>
            @Html.Partial("_footer")
